<div class="col-sm-6 col-md-3" id="painelAnuncios">
    <div class="panel" style="border: 1px solid #dddddd;">
    <div class="ads_index_img">
      <div class="thumbnail" style="border: 0 ;">
        <span class='price' ><%= ad.price %><%= ad.price_type.name %></span>
          <div >
            <%= link_to ad_image( ad.ad_images.first ), ad %>
          </div>
      </div>
    </div>
    <div class="panel-body text-center" style="margin-top:-30px; padding-bottom: auto; height: 175px; min-width: 105px !important;">
      <% if !ad.category.blank? %>
        <div class="caption" style="margin-bottom:25px;">
          <% if ad.category.nil? %>
            <span class="label pro_title" style="background-color: #888888">Desconhecido </span>
          <% else %>
            <span class="label pro_title" style="background-color: #<%= ad.category.color %>;"><%= ad.category.name %>  </span>
          <% end %>
        </div>
      <% end %>
      <div class="linkads" style="height:20px; margin-bottom: 15px;">
        <a><%= link_to ad.title.truncate(25), ad %></a>
      </div>
      <div>
        <i style="" class="fa fa-map-marker pro_title"></i> <%= ad.city.city unless ad.city.blank? %>
      </div>
    </div>
  </div>
</div>