<%= form_for @ad, :html => {:multipart => true,:id=>"ad-form"} do |f| %>
    <div class="control-group">
      <label class="control-label"> Categoria:</label>
      <div class="controls">
        <%= f.collection_select(:category_id,@categories,:id,:name, :include_blank => 'Escolha uma categoria') unless @categories.blank? %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :title, "Título*",:class=>"control-label" %>
      <div class="controls">
        <%= f.text_field :title,:placeholder => "Defina o título do anúncio" ,:class=>"form-control",:rel=>"tooltip",:title=>"Escolha um titulo apropriado.
         Seja claro e sucinto." %>

        <label class="help-inline" id="help_ad_title"  for="ad_title"></label>

      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, "Descrição" ,:class=>"control-label" %>
      <div class="controls">
        <%= f.text_area :description,:placeholder => "Descreva o seu anúncio...",:class=>"form-control", :rel=>"tooltip",:title=>"Escreva de forma clara e não utilize demasiada pontuação ou termos repetidos." %>

        <label class="help-inline" id="help_ad_description"  for="ad_description"></label>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6">
        <div class="control-group">
          <%= f.label :price, "Preço" ,:class=>"control-label" %>
          <div class="controls">
            <div class="input-group">
              <span class="input-group-addon">€</span>
              <%= f.text_field :price,:placeholder => "Preço" ,:class=>"form-control" %>
            </div>
            <label class="help-inline" id="help_ad_price" for="ad_price"></label>
          </div>
        </div>
      </div>

      <script>
          $('#ad_price').on('input', function() {
              var value = $("#ad_price").val();
              value = value.replace(",", ".");
              $("#ad_price").val(value);
          })
      </script>

      <div class="col-md-2">
        <div class="control-group">
          <%= f.label :type_price_id, "Medida" ,:class=>"control-label" %>
          <div class="controls">
            <%= f.collection_select(:type_price_id,@price_types,:id,:name,:class=>"form-control", :include_blank => 'Selecione...') %>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="control-group">
            <%= f.label :city_id, "Concelho" %>
            <div class="controls">
            <%= f.collection_select(:city_id,@cities,:id,:city,:class=>"form-control", :include_blank => 'Selecione...') %>
            </div>
        </div>
      </div>

    </div>

    <div class="control-group">
      <%= f.label :locatlion, "Localização da Venda" ,:class=>"control-label" %>
      <div class="controls">
        <%= f.text_field :location,:placeholder =>"Localização da venda..." ,:class=>"form-control", :id=>"addresspicker_map",autocomplete: "off"%>
      </div>

      <div style="width:100%;height:350px;margin-top:20px">
        <div id="map" style="width:100%; height:100%"></div>
        <div id="location" class=""></div>
      </div>
      <div style="float:right">
          <span class="label label-danger" id="city">-</span>
          <span class="label label-primary" id="coordX">X</span>
          <span class="label label-primary" id="coordY">Y</span>
      </div>
    </div>


    <div class="field" style="margin-top:8px">
            
  
     <%= f.label :images, "Adicionar Imagens" %><br>

      <% @ad.ad_images.each do |ad_image| %>
          <% if !ad_image.new_record? %>
              <%= image_tag ad_image.image %><br/>
          <% end %>
      <% end %>


<div class="panel-body">

     
</div>

      <div class="newPaperclipFiles">

        <!--link para adicionar a primeira imagem, as outras estão com display:hide-->
        <input class="input" id="ad_ad_images_attributes_1_image" name="ad[ad_images_attributes][1][image]" style="display: true" type="file">

        <%= f.fields_for :ad_images do |asset| %>
            <% if asset.object.new_record? %>
                <%= asset.file_field :image, :style=>"display: none;", :class=>"input"%>

            <% end %>
        <% end %>
      </div>


      <!--Link para adicionar mais imagens (show/hide JQuery)-->
      <br>
      <a id='add' class="btn btn-info"><i class="fa fa-plus"></i> Adicionar outra</a>

      <div class="existingPaperclipFiles">

        <% f.fields_for :ad_images do |asset| %>

            <% unless asset.object.new_record? %>

                <div class="thumbnail">
                  <%= link_to( image_tag(asset.object.image.url(:thumb)), asset.object.image.url(:original) ) %>
                  <%= asset.check_box  :_destroy %>

                </div>

            <% end %>

        <% end %>
      </div>

    </div>

    <div class="actions" style="float:right">
      <%= f.submit "Publicar Anúncio", :class=>"btn btn-primary" %>
    </div>

    <% if @ad.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

          <ul>
            <% @ad.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<% end %>