<div class="panel panel-default">

<% if flash[:notice] %>
  <script> showNotify("<%= flash[:notice] %>","success") </script>
<% end %>
<% if flash[:error] %>
  <script> showNotify("<%= flash[:error] %>","error") </script>
<% end %>


  <div class="panel-heading">
    <h3 class="panel-title">Anúncios</h3>
  </div>
  <div class="panel-body">
<!-- Listagem de anúncios -->
 <!-- Listagem de anúncios -->
    <div class="row">
       
      <% @ads.each do |ad| %>
            <% if ad.is_active?  %> <!-- Verifica se o anúncio ainda está activo-->
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <span class='price' ><%= ad.price %>€</span>
                    <%= link_to ad_image( ad.ad_images.first ), ad %>
                    <% if !ad.category.blank? %>
                      <div class="caption">
                          <% if ad.category.nil? %>
                            <span class="label" style="background-color: #888888">Desconhecido
                          <% else %>
                            <span class="label" style="background-color: #<%= ad.category.color %>"><%= ad.category.name %>
                          <% end %>
                          </span>
                    <% end %>
                     
                      <h4><%= link_to ad.title, ad %></h4>
                      <p><i class="fa fa-map-marker"></i> <%= ad.city.city unless ad.city.blank? %></p>
                    </div>
              </div>
           </div>
          <% end %>
         
        <% end %>
        <% if @ads.empty? %>
          Ainda não existem anuncios. Sê o primeiro a anunciar!
        <% end %>
    </div>
  </div>
</div>
