<% if flash[:notice] %>
  <script> showNotify("<%= flash[:notice] %>","success") </script>
<% end %>
<% if flash[:error] %>
  <script> showNotify("<%= flash[:error] %>","error") </script>
<% end %>

<!-- Listagem de anúncios -->
 <ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
    <li class="active">
      <i class="fa fa-shopping-cart"></i> <a href="<%= ads_path %>" class="url"> Anúncios</a>
    </li>
    <% if user_signed_in? %>
      <%= link_to "<i class='fa fa-plus'></i>Novo Anúncio".html_safe, new_ad_path, class:"url", style:"float:right" %>
    <% end %>
 </ol>

  <div class="row ads_index_section.ads">
    <%= render :partial => @ads %>
    <% if @ads.empty? %>
      <p>Ainda não existem anúncios. Sê o primeiro a anunciar!</p>
    <% end %>
  </div>

<span id="pagination-top"><%= will_paginate(@ads, renderer: BootstrapPagination::Rails, :previous_label => 'Anterior', :next_label => 'Seguinte') %></span>

