<div>
  <ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
    <li class="active">
      <i class="fa fa-shopping-cart"></i> <a class="url" href="<%= ads_path %>">Anúncios</a>
    </li>
    <% if user_signed_in? %>
      <a class="url" href="<%= myads_user_path(current_user.id) %>"> > Os meus Anúncios</a> >
      <%= link_to "Novo Anúncio", new_ad_path, class:"url" %>
    <% end %>
  </ol>
</div>

<% if current_user.remaining_ads_slots <= 1 %>
  <script>
    showNotify("Apenas possui um anuncio restante!!Quer ter mais anuncios? Clique aqui!","info")
  </script>
<% end %>

<% if current_user.remaining_ads_slots > 0 %>
  <div class="panel panel-default" style="padding-bottom:50px; margin-bottom:0; min-height:980px;">
    <div class="panel-heading border-header">
      <h3 class="panel-title">Novo Anúncio</h3>
    </div>
    <div class="panel-body" style="margin: 10px 10px;">
      <%= render 'form' %>
    </div>
  </div>
<% else %>

  <p>Já não tem mais slots para anuncios, compre mais <%= link_to "aqui", plans_path%></p>

<% end %>