<div>
  <ol class="breadcrumb" id="breadcrumbAds">
    <li class="active">
      <a class="url" href="<%= ads_path %>"><i class="fa fa-tags"></i> Anúncios</a>
    </li>
    <% if user_signed_in? %>
      <a class="url" href="<%= myads_user_path(current_user.id) %>"> > Os meus Anúncios</a> >
      <%= link_to "Novo Anúncio", new_ad_path, class:"url" %>
    <% end %>
  </ol>
</div>

<% if current_user.remaining_ads_slots <= 1 %>
  <script>
    showNotify("Apenas possui um anuncio restante!!Quer ter mais anuncios? Clique aqui!","info")
  </script>
<% end %>

<% if current_user.remaining_ads_slots > 0 %>
  <div class="panel">
    <div class="panel-heading border-header">
      <h3 class="panel-title">Novo Anúncio</h3>
    </div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
<% else %>

  <p>Já não tem mais slots para anuncios, compre mais <%= link_to "aqui" %></p>

<% end %>