
<% if flash[:notice] %>
  <script> showNotify("<%= flash[:notice] %>","success") </script>
<% end %>
<% if flash[:error] %>
  <script> showNotify("<%= flash[:error] %>","error") </script>
<% end %>
<!--FACEBOOK SDK START -->
<div id="fb-root"></div>
<script>
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_PT/all.js#xfbml=1&appId=547514635336381";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!--FACEBOOK SDK END -->
<!--TWITTER SDK START -->
<script>
  !function(d,s,id){
    var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
    if(!d.getElementById(id)){
      js=d.createElement(s);
      js.id=id;
      js.src=p+'://platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js,fjs);
    }
  }(document, 'script', 'twitter-wjs');
</script>
<!--TWITTER SDK END -->

  <% num_img=@ad.ad_images.count %>

<section class="panel">

    <div class="panel-body">

      <div class="col-md-6">

        <!-- Image ADS -->
           <% if num_img > 0 %>
            <div class="ads_img_section">

                <div id="imageCarousel" class="carousel-inner">


                        <% i=0 %>
                        <% while (i < num_img) do %>
                          <div class="<% if i>0 %>item<% else %>active item<% end %> ads_img">
                            <table>
                              <tr><td>
                                 <a href="<%= @ad.ad_images[i].image.url %>" rel="prettyPhoto[ad_gallery_carousel]">
                                    <%= image_tag @ad.ad_images[i].image(:large), :width => "100%" %>
                                 </a>
                              </td></tr>
                            </table>
                          </div>
                           <% i+=1 %>
                         <% end %>



                   <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <% i=1 %>
                        <% while (i < num_img) do %>
                           <li data-target="#myCarousel" data-slide-to="<%= i %>"></li>
                           <% i+=1 %>
                         <% end %>
                   </ol>
                    <a class="carousel-control left" href="#imageCarousel" data-slide="prev" style="top: 50%">&lsaquo;</a>
                    <a class="carousel-control right" href="#imageCarousel" data-slide="next" style="top: 50%">&rsaquo;</a>
                </div>

            </div>
            <div class="ads_otherimg_section">

                <% i=0 %>
                 <% while (i < (num_img-1)) do %>
                   <% if !i.odd? %>
                     <tr>
                       <td align="center">
                         <a href="<%= @ad.ad_images[i].image.url %>" rel="prettyPhoto[ad_gallery]">
                           <%= image_tag @ad.ad_images[i].image(:thumb) %>
                         </a>
                       </td>
                    </tr>
                   <% else %>
                      <tr>
                         <td align="center">
                           <a href="<%= @ad.ad_images[i].image.url %>" rel="prettyPhoto[ad_gallery]">
                             <%= image_tag @ad.ad_images[i].image(:thumb) %>
                           </a>
                         </td>
                       </tr>
                   <% end %>
                   <% i+=1 %>
                 <% end %>
                 <!-- Para centrar a ultima imagem caso o numero de imagens for impar -->
                 <% if !i.odd? %>
                   <tr>
                     <td colspan="2" align="center">
                       <a href="<%= @ad.ad_images[i].image.url %>" rel="prettyPhoto[ad_gallery]">
                         <%= image_tag @ad.ad_images[i].image(:thumb) %>
                       </a>
                     </td>
                   </tr>
                 <% else %>
                    <tr>
                     <td align="center">
                       <a href="<%= @ad.ad_images[i].image.url %>" rel="prettyPhoto[ad_gallery]">
                         <%= image_tag @ad.ad_images[i].image(:thumb) %>
                       </a>
                     </td>
                   </tr>
                 <% end %>

          </div>

        <% else %>
             <div id="imageCarousel" class="carousel-inner">
                 <a class="ads_no_img">
                        <img class="no_image" src="http://placehold.it/250x200">
                </a>
             </div>

       <% end %>
    </div>
   <!-- Information ADS -->
          <div class="col-md-6">
               <h4 class = "ads_title">
                <%= @ad.title %>
               </h4>
               <br/>
               <div class = "ads_metainfo">
                    <p>
                        <strong>Categoria:</strong>
                        <% if @ad.category.blank? %>
                           <span class="label" style="background-color: #888888">Sem categoria</span>
                         <% else %>
                           <span class="label" style="background-color: #<%= @ad.category.color %>">
                             <%= @ad.category.name %>
                           </span>
                  <% end %>
                    </p>
                    <p>
                        <strong>Descricão:</strong>
                         <%= @ad.description %>
                    </p>

               </div>
               <div class ="ads_description">
                    <p>
                        <strong>Vendedor:</strong>
                        <%= @ad.user.name %>
                    </p>
                    <p>
                     <strong>Preço:</strong>
                     <%= "#{@ad.price} #{@ad.price_type.name}" %>
                   </p>
                   <p>
                     <strong>Final do Anúncio:</strong>
                    <%= (@ad.created_at + 1.week).strftime("%d - %m - %Y") %>
                  </p>
                   <p>
                     <strong>Cidade:</strong>
                     <%= @ad.city.city %>
                  </p>
                  <p>
                    <strong>Localização:</strong>
                    <%= @ad.location %>
                  </p>
                  <p>

                        <div class="fb-share-button sharebutton" data-href="http://teste94.di.uminho.pt/" data-type="button">
                        </div>
                  <!-- div class="fb-share-button" data-href="<%= ad_path(@ad) %>" data-type="button"></div -->

                         <div class="sharebutton">
                         <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
                         </div>
                  </p>
               </div>


          </div>

  </div>

</section>
<section class="panel">
       <header class="header header_tab">
        <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#related" id="extraNavButton">
                        Produtos na mesma Area
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#last_viewed" id="extraNavButton">
                        Ultimos vistos
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#reviews" id="extraNavButton">
                        Review do vendedor
                    </a>
                </li>

            </ul>
       </header>
       <div class="panel-body">

         <div class="tab-content tasi-tab">
                <!-- produtos relacionados -->
                <div id="related" class="tab-pane active">

                    <% @related_ads.each do |ad| %>
                        <li class="col-sm-3 col-md-3 thing <%= ad.category.name %>">
                            <div class="thumbnail" id="thumbnail_ad" style="padding: 0">
                              <span class='price' ><%= ad.price %>€</span>
                              <div style="padding:4px" >
                                <%= link_to ad_image( ad.ad_images.first ), ad %>
                                <% if !ad.category.blank? %>
                                  <div class="caption">
                                    <% if ad.category.nil? %>
                                      <span class="label" style="background-color: #888888">Desconhecido
                                    <% else %>
                                      <span class="label" style="background-color: #<%= ad.category.color %>"><%= ad.category.name %>
                                    <% end %>
                                      </span>
                                <% end %>
                                    <h2><%= link_to ad.title, ad %></h2>
                                    <p><i class="fa fa-map-marker"></i> <%= ad.city.city unless ad.city.blank? %></p>
                                  </div>
                              </div>
                            </div>
                          </li>
                    <% end %>
                </div>

                <!-- ultimos visitados -->
                <div id="last_viewed" class="tab-pane">


                   <div class="row">
                    <% @last_viewed.each do |ad| %>
                      <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                                <span class='price' ><%= ad.price %>€</span>
                                  <%= link_to ad_image( ad.ad_images.first ), ad %>
                                    <div class="caption">
                                        <% if ad.category.nil? %>
                                          <span class="label" style="background-color: #888888">Desconhecido
                                        <% else %>
                                          <span class="label" style="background-color: #<%= ad.category.color %>"><%= ad.category.name %>
                                        <% end %>
                                        </span>

                                    <h4><%= link_to ad.title, ad %></h4>
                                    <p><i class="fa fa-map-marker"></i> <%= ad.city.city unless ad.city.blank? %></p>
                                  </div>
                          </div>
                        </div>

                      <% end %>
                  </div><!--close row -->
                </div>

                <!-- reviews -->
                <% @reviews_user.each do |review| %>
                <div id="reviews" class="tab-pane">
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <!--img src="http://placehold.it/50x50"-->
                            <%= image_tag @ad.user.avatar.url(:small)%>

                        </a>
                        <div class="media-body">
                            <a href="#" class="cmt-head"><%= review.comment %></a>
                            <p> <i class="fa fa-clock-o"></i> 1 hours ago</p>
                        </div>
                    </article>
                    <% end %>
            </div>

       </div>

</section>

<section class="panel">

      <header class="header">
        <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#related" id="extraNavButton">
                        Mensagens
                    </a>
                </li>

            </ul>
       </header>
       <div class="panel-body">
         <% if user_signed_in? %>
          <div id="messages">
                    <%= render "messages/messages_ads" %>
          </div>
        <% end %>

       </div>

</section>







  <% if user_signed_in? && current_user.id == @ad.user_id %>
            <td ><i class="fa fa-exclamation-triangle"></i><%= link_to 'Eliminar Anúncio', @ad, method: :delete, data: { confirm: 'Tem a certeza que quer apagar o seu anúncio ?s' } %></td>
              <% end %>
            </tr>
<%#  Only the ad's owner can edit it  %>
<% if user_signed_in? && current_user.id == @ad.user_id %>
<%= link_to 'Edit', edit_ad_path(@ad) %> |
<% end %>

<%= link_to 'Back', ads_path %>
