<% if flash[:notice] %>
<script> showNotify("<%= flash[:notice] %>","success") </script>
<% end %>
<% if flash[:error] %>
<script> showNotify("<%= flash[:error] %>","error") </script>
<% end %>


<ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
  <li class="active">
    <i class="fa fa-shopping-cart"></i> <a class="url" href="<%= ads_path %>"> Anúncios</a> >
    <a class="url" href="<%= ad_path(@ad.id) %>"> <%= @ad.title %></a>
  </li>
  <div style="float:right">
    <% if user_signed_in? && current_user.id != @ad.user_id %>
          <%= link_to '<i class="fa fa-flag"></i>Denunciar '.html_safe, report_ad_path(@ad), class:'no-effect', method: :delete, data: { confirm: 'Tem a certeza que quer denunciar este anúncio ?' } ,:tile=> "Denunciar Anúncio"%>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <%= link_to "<i class='fa fa-plus'></i>Novo Anúncio".html_safe, new_ad_path, class:"url", style:"float:right" %>
  <% end %>
</ol>

<% content_for :head do %>
  <!-- Facebook -->
  <meta property="og:title" content="<%= @ad.title %>"/>
  <meta property="og:image" content="<% if @ad.ad_images.first %><%= root_url.chop + @ad.ad_images.first.image.url %><% else %>http://teste94.di.uminho.pt/assets/defaultAdPic.png<% end %>"/>
  <meta property="og:site_name" content="AgroSocial"/>
  <meta property="og:description" content="<%= @ad.description %>"/>
  <meta property="og:url" content="<%= ad_url(@ad) %>"/>
  <meta property="og:locale" content="<% if params[:locale] %><%= params[:locale] %><% else %>pt_PT<% end %>"/>
  <meta property="fb:app_id" content="547514635336381"/>
  <!-- Twitter -->
  <meta name="twitter:card" content="AgroSocial" />
  <meta name="twitter:title" content="<%= @ad.title %>" />
  <meta name="twitter:description" content="<%= @ad.description %>" />
  <meta name="twitter:image" content="<% if @ad.ad_images.first %><%= root_url.chop + @ad.ad_images.first.image.url %><% else %>http://teste94.di.uminho.pt/assets/defaultAdPic.png<% end %>" />
  <!-- Google -->
  <meta name="description" content="<%= @ad.description %>" />
  <meta name="keywords" content="Anuncio" />
  <meta name="author" content="<%= @ad.description %>" />
  <meta name="copyright" content="© 2014 AGROSOCIAL. Todos os direitos reservados." />
  <meta name="application-name" content="AgroSocial" />
<% end %>


<% num_img=@ad.ad_images.count %>
<section class="panel" style="border: 1px solid #dddddd;">
   <div class="panel-body" style="margin:10px 10px 10px 10px;">
      <div class="col-md-6">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% if num_img > 1 %>
              <% i=0 %>
              <% while (i < num_img) do %>
                <% if i == 0 %>
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <% else %>
                  <li data-target="#carousel-example-generic" data-slide-to="<%i%>"></li>
                <% end %>
                <% i+=1 %>
              <% end %>
            <% end %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% if num_img == 0 %>
              <div class="item active" id="divImg">
                <img src="/assets/defaultAdPic.png" alt="...">
              </div>
            <% else %>
              <% i=0 %>
              <% while (i < num_img) do %>
                <% if i == 0 %>
                  <div class="item active" id="divImg">
                    <img src="<%= @ad.ad_images[i].image.url %>" alt="...">
                  </div>
                <% else %>
                  <div class="item" id="divImg">
                    <img src="<%= @ad.ad_images[i].image.url %>" alt="...">
                  </div>
                <% end %>
                <% i+=1 %>
              <% end %>
            <% end %>
          </div>

          <!-- Controls -->
          <% if num_img > 1 %>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="fa fa-angle-left" id="faAngle"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="fa fa-angle-right" id="faAngle"></span>
            </a>
          <% end %>
        </div>
      </div>

      <!-- Information ADS -->
      <div class="col-md-6">
        <div style="width: 100%; margin: 5px 0 5px 0; display: inline-block; vertical-align: middle;">
          <!--DAR DESTAQUE-->
          <% if @ad.category.blank? %>
            <span class="label" style="background-color: #888888">Sem categoria</span>
          <% else %>
            <span class="label" style="background-color: #<%= @ad.category.color %>">
              <%= @ad.category.name %>
            </span>
          <% end %>
          <div style="float:right; height: 30px; vertical-align: middle;">
            <% if user_signed_in? && current_user.id == @ad.user_id %>
              <%= link_to '<i class="fa fa-edit"></i>Editar '.html_safe, edit_ad_path(@ad), class:'no-effect', :tile=> "Editar Anúncio" %>
              <%= link_to '<i class="fa fa-trash-o"></i>Eliminar '.html_safe, @ad, class:'no-effect', method: :delete, data: { confirm: 'Tem a certeza que quer apagar o seu anúncio ?' } ,:tile=> "Apagar Anúncio"%>
            <% end %>
          </div>
        </div>
        <div style="display:inline-block; width:100%; vertical-align:middle;">
          <div style="float:left; max-width:100%;">
            <h4 class="ads_title">
              <%= @ad.title %>
            </h4>
          </div>
          <div style="float:right; margin-top:7px;">
            <% if user_signed_in? && current_user.id == @ad.user_id %>
              <%= link_to '<i class="fa fa-star"></i>Destacar '.html_safe, promove_ad_payment_path(@ad.id), :class=>"btn btn-success btn-sm ",:rel=>"tooltip_down",:title=>"Pode destacar o anúncio para ele ser mais visto!!" %>
            <% end %>
          </div>
        </div>

         <div class = "ads_metainfo" style="text-align: justify;">
            <p>
               <strong>Descricão:</strong>
               <%= @ad.description %>
            </p>
         </div>
         <div class ="ads_description">
            <div style="width:100%; padding: 5px 0;">
              <div style="float:left;">
                 <strong>Vendedor:</strong>
                 <%= link_to get_first_last_name(@ad.user.name), @ad.user, class:"url" %>
              </div>
              <div style="float:right; text-align:right; min-width:150px;">
                 <strong>Preço:</strong>
                 <span class="label label-info" >
                    <%= "#{@ad.price} #{@ad.price_type.name}" %>
                 </span>
              </div>
            </div>
            <br>
            <div style="width:100%; display: inline-block; margin-top: 5px;">
              <div style="float: left; height: 30px; padding-top: 5px;">
                <i class="fa fa-map-marker"></i> <%= @ad.location %>
              </div>
              <div style="float:right; text-align:right; min-width:100px;">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalMap"><i class="fa fa-plus-circle"></i>Ver no Mapa</button>
              </div>
            </div>
            <br>
            <div style="width: 100%; text-align: right; margin-top: 10px;">
              <div style="float:left;">
                <strong>Termina em:</strong>
                <%= (@ad.created_at + 1.week).strftime("%d - %m - %Y") %>
              </div>
              <div class="fb-share-button sharebutton" data-href="<%= ad_url(@ad) %>" data-type="button"></div>
              <div class="sharebutton">
                 <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" 
                   data-url="<%= ad_url(@ad) %>"
                   data-hashtags="AgroSocial"
                   data-text="<%= 'Anuncio - ' + @ad.title %>"
                 >Tweet</a>
              </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="panel" style="border: 1px solid #ddd">
    <div class="panel-heading border-header">
      <h3 class="panel-title">Mensagens</h3>
    </div>
   <div class="panel-body panel_without_bg">
      <% if user_signed_in? %>
        <div id="messages">
           <%= render "messages/messages_ads" %>
        </div>
      <% end %>
   </div>
</section>

<section class="panel" style="background-color: rgba(255, 255, 255, 0); border: 1px solid #dddddd;">
   <header class="header header_tab">
      <ul class="nav nav-tabs" style="border-bottom: 1px solid #dddddd;">
         <li class="active">
            <a data-toggle="tab" href="#related" id="extraNavButton">
            Produtos na mesma área
            </a>
         </li>
         <li>
            <a data-toggle="tab" href="#last_viewed" id="extraNavButton">
            Últimos vistos
            </a>
         </li>
         <li>
            <a data-toggle="tab" href="#reviews" id="extraNavButton">
            Avaliação do vendedor
            </a>
         </li>
      </ul>
   </header>
   <div class="panel-body" style="margin-top:10px;">
   <div class="tab-content tasi-tab">
      <!-- produtos relacionados -->
      <div id="related" class="tab-pane active" style="margin:0; padding: 0;">
         <div class="row ads_index_section" style="margin:0; padding: 0;">
            <% if !@related_ads.blank? %>
              <%= render :partial => @related_ads %>
            <% else %>
               <p>Não encontramos nenhmum produto relacionado! </p>
            <% end %>
         </div>
      </div>
      <!-- ultimos visitados -->
      <div id="last_viewed" class="tab-pane" style="margin:0; padding: 0;">
         <div class="row ads_index_section" style="margin:0; padding: 0;">
            <% if !@last_viewed.blank?  %>
             <%= render :partial => @last_viewed %>
            <% else %>
              <p> Apenas viu este anúncio ainda! </p>
            <% end %>
         </div>
         <!-- </div> -->
      </div>
      <!-- reviews -->
      <div id="reviews" class="tab-pane" style="background-color: white; margin:0; padding: 0;">
         <% @reviews_user.each do |review| %>
         <article class="media">
            <p class="pull-left thumb p-thumb">
               <%=link_to image_tag(review.rater.avatar.url(:small)), user_path(review.rater)%>
            </p>
            <div class="media-body">
               <b class="cmt-head"><%= review.comment %></b>
               <p>Classificação : <%= review.rate %></p>
               <p> <i class="fa fa-clock-o"></i><abbr class="timeago" title="<%= review.created_at.getutc.iso8601 %>"> <%= review.created_at.to_s %> </abbr></p>
            </div>
         </article>
         <% end %>
         <% if @reviews_user.empty? %>
         <p> Não existem avaliações para este utilizador </p>
         <% end %>
      </div>
   </div>
</section>

<div class="fields">
  <button type="button" class="btn btn-primary" onclick="location.href='<%= ads_path %>'">
    <span class="icon-arrow-left" style="margin-right: 5px; color: white;"></span>Voltar
  </button>
</div>

<%# MODAL %>
<div id="modalMap" class="modal fade" tabindex="-1" data-width="760" style="display: none; margin-top:-30%;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h4 class="modal-title"><i class="fa fa-map-marker"></i> Localização do Anúncio</h4>
  </div>
  <div class="modal-body">
    <div class="row" id="post-review-box" >
      <div class="col-md-12">
        <div class="control-group">
          <div class="controls">
            <div class="input-group input-group-sm">
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
              <input type="text" class="form-control" value="<%= @ad.location %>" enabled="false" id="addresspicker_map" name="location" disabled>
            </div>
          </div>

            <div id="map-canvas" style="width:425px;height:350px"></div>
            <div id="location" class=""></div>

        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
  </div>
</div>
<%# FIM MODAL %>


<script>
    function initialize() {
        var myLatlng = new google.maps.LatLng(<%if !@ad.coordX.nil? %><%=  @ad.coordX %><% else%> 41.568197 <% end %>,<%if !@ad.coordY.nil? %><%=  @ad.coordY %><% else%> -8.381935 <% end %>);
        var mapOptions = {
            zoom: 7,
            center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            zoom: 8,
            title: '<%if !@ad.coordX.nil? && !@ad.coordY.nil?  %><%= @ad.location %><%else%> "Localização não encontrada!" <%end%>'
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>
