<div class="container">
    <div class="row">
    <div class="col-sm-4 col-md-4">
            <div class="panel panel-default" id="form_message" hidden="true">
                <div class="panel-body">                
                    <%= form_for @message, :url => ad_new_messages_path(@ad.id),:html => {:id => "comment_ad",:ajax_path => ad_new_messages_path(@ad.id) } do |m| %>
  
                          <% if @message.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@message.errors.count, "error") %> proibiu este anuncio de ser salvado:</h2>

                              <ul>
                              <% @message.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                              <% end %>
                          <% end %>

                          <div class="field">
                            <%= m.label :text %><br>
                            <%= m.text_area :text,:id => "text_comment",:rows=>5,:class=> "form-control counted" ,:placeholder => "Escreve a tua mensagem"%>
                            <h6 class="pull-right" id="counter">144 characteres livres</h6>
                          </div>
                          <div class="field" hidden="true">
                            <%= m.label :user_sender %><br>
                            <%= m.text_field :user_sender, :value => current_user.id,:readonly => true %>
                          </div>
                          <div class="field" hidden="true">
                            <%= m.label :user_two %><br>
                            <%= m.text_field :user_two, :value => @ad.user_id,:readonly => true %>
                          </div>
                          <div class="field" hidden="true">
                            <%= m.label :ad_id %><br>
                            <%= m.text_field :ad_id,:value => @ad.id,:readonly => true %>
                          </div>

                        <button class="btn btn-info" type="submit">Envie a nova mensagem</button>

                        <% end %>
                        <%= button_to "Cancel", "javascript:cancel_message()" , {:class => "btn btn-cancel"}%>

                </div>
            </div>
        </div>
  </div>
</div>