<% for message in @messages %>
  <% if message.user.id != current_user.id %>
    <li class="left clearfix"><span class="chat-img pull-left">
      <% if message.user.avatar != nil %>
        <%= image_tag(message.user.avatar.url(:thumb), :alt => "User Avatar", :width => '50', :height => '50', :class => "img-circle") %></span>
      <% else %>
        <img width="50" alt="50x50" src="missing_photo.png" alt="User Avatar" class="img-circle" />
      <% end %>
      </span>
      <div class="chat-body clearfix">
          <div class="header">
                <strong class="primary-font">
                <%= message.user.name %>
              </strong> 
              <small class="pull-right text-muted">
                    <span class="fa fa-clock-o"></span>
                    <abbr class="timeago" title="<%= message.created_at %>"> <%= message.created_at %> </abbr>
                 </small>
          </div>
          <p>
            <%= message.text %>
          </p>
      </div>
    </li>
  <% else %>
    <li class="right clearfix"><span class="chat-img pull-right">
      <% if message.user.avatar != nil %>
        <%= image_tag(message.user.avatar.url(:thumb), :alt => "User Avatar", :width => '50', :height => '50', :class => "img-circle") %></span>
      <% else %>
        <img width="50" alt="50x50" src="missing_photo.png" alt="User Avatar" class="img-circle" />
      <% end %>
      </span>
      <div class="chat-body clearfix">
          <div class="header">
                 <small class=" text-muted">
                    <span class="fa fa-clock-o"></span>
                    <abbr class="timeago" title="<%= message.created_at %>"> <%= message.created_at %> </abbr>
                 </small>
            
              <strong class="pull-right primary-font">
                <%= message.user.name %>
              </strong> 
          </div>
          <p>
            <%= message.text %>
          </p>
      </div>
    </li>
  <% end %>
<% end %>
