
<%# My messages%>
<% if message.user_sender == @ad.user_id %>
  <% valor = "div_adminMessage" %>
<% else %>
  <% if message.user_sender == current_user.id %>
    <% valor = "div_myMessage" %>
  <% else %>
    <% valor = "div_otherMessage" %>
  <% end %>
<%end%>
<div id="<%=valor%>">

  <p>
    <small>
    Enviado por:
      <%= message.user_sender %> - 
      <%= message.user_sender %>
    As:
      <%= message.created_at %>
    </small>
  </p>
  
  <%= message.text %>

  <p hidden="true">
    <strong>is_read:</strong>
    <%= message.is_read %>
  </p>

</div>

