<p>
  <strong>Text:</strong>
  <%= message.text %>
</p>

<p>
  <strong>Sender:</strong>
  <%= message.sender_id %>
</p>

<p>
  <strong>Receiver</strong>
  <%= message.receiver_id %>
</p>


<p>
  <strong>Ad_id:</strong>
  <%= message.ad_id %>
</p>

<p>
  <strong>is_read:</strong>
  <%= message.is_read %>
</p>

<p>
  <strong>Created_at:</strong>
  <%= message.created_at %>
</p>

<p>
  <%= button_to "Responder", "javascript:addRow()" %>
</p>