
<%# My messages%>
<% if message.sender_id == @ad.user_id %>
  <% valor = "div_adminMessage" %>
<% else %>
  <% if message.sender_id == current_user.id %>
    <% valor = "div_myMessage" %>
  <% else %>
    <% valor = "div_otherMessage" %>
  <% end %>
<%end%>
<div id="<%=valor%>">
  <p>
    <strong>Text:</strong>
    <%= message.text %>

  </p>

  <p>
    <strong>is_read:</strong>
    <%= message.is_read %>
  </p>

  <p>
    <strong>Created_at:</strong>
    <%= message.created_at %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= message.sender_id %>
    <%= message.sender.name %>
  </p>

  <p hidden="true">
    <strong>Receiver</strong>
    <%= message.receiver_id %>
    <%= message.receiver.name %>

  </p>


  <p hidden="true">
    <strong>Ad_id:</strong>
    <%= message.ad_id %>
  </p>
</div>

