<ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
  <% if user_signed_in? %>
  <li class="active">
    <i class="fa fa-users"></i>
    <a class="url" href="<%= user_path(current_user.id) %>"><%= current_user.name %></a> >
    <a class="url" href="<%= messages_path %>">Mensagens</a>
  </li>
  <% end %>
</ol>
<% if @talks_privates.size == 0 %>
Nenhuma mensagem na tua caixa de entrada
<% end %>

<div class="container">
    <div class="row">
        <% @talks_privates.each do |talk| %>
            <% if talk.messages != 0 %>
                <div class="col-xs-12 col-sm-12 col-md-6" id="accordion">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <% user_receiver = talk.user_receiver_object( current_user ) %>
                          <span>
                              <%= link_to (image_tag user_receiver.avatar.url(:tiny) , style:"height:40px;",:class=>"img-circle",:title => "Ver Perfil") + " " +user_receiver.name, user_receiver %>
                          </span>
                        </div>
                        <div id="demo" class=" panel-body panel-bodyMessage panel-collapse collapse in">
                            <ul class="chat">
                                <% talk.latest_messages.reverse!.each do |message| %>
                                  <% if message.user.id != current_user.id %>
                                    <li class="left clearfix"><span class="chat-img pull-left">
                                      <% if message.user.avatar != nil %>
                                        <%= image_tag(message.user.avatar.url(:thumb), :alt => "User Avatar", :width => '50', :height => '50', :class => "img-circle") %></span>
                                      <% else %>
                                        <img width="50" alt="50x50" src="missing_photo.png" alt="User Avatar" class="img-circle" />
                                      <% end %>
                                      </span>
                                      <div class="chat-body clearfix">
                                          <div class="header">
                                                <strong class="primary-font">
                                                <%= message.user.name %>
                                              </strong> 
                                              <small class="pull-right text-muted">
                                                    <span class="fa fa-clock-o"></span>
                                                    <abbr class="timeago" title="<%= message.created_at.getutc.iso8601 %>"> <%= message.created_at %> </abbr>
                                                 </small>
                                          </div>
                                          <p>
                                            <%= message.text %>
                                          </p>
                                      </div>
                                    </li>
                                  <% else %>
                                    <li class="right clearfix"><span class="chat-img pull-right">
                                      <% if message.user.avatar != nil %>
                                        <%= image_tag(message.user.avatar.url(:thumb), :alt => "User Avatar", :width => '50', :height => '50', :class => "img-circle") %></span>
                                      <% else %>
                                        <img width="50" alt="50x50" src="missing_photo.png" alt="User Avatar" class="img-circle" />
                                      <% end %>
                                      </span>
                                      <div class="chat-body clearfix">
                                          <div class="header">
                                                 <small class=" text-muted">
                                                    <span class="fa fa-clock-o"></span>
                                                    <abbr class="timeago" title="<%= message.created_at.getutc.iso8601 %>"> <%= message.created_at %> </abbr>
                                                 </small>
                                            
                                              <strong class="pull-right primary-font">
                                                <%= message.user.name %>
                                              </strong> 
                                          </div>
                                          <p>
                                            <%= message.text %>
                                          </p>
                                      </div>
                                    </li>
                                  <% end %>
                                <% end %>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <%= link_to '<i class="fa fa-comment"></i>Ver Conversa'.html_safe  ,  message_path(talk),:class=> "btn btn-info" %>
                          <!--
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send</button>

                                </span>

                            </div>-->
                             
                                  
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>

        </div>
    </div>  
