<h2>Your Inbox</h2>
<% if @messages.size == 0 %>
No messages in your Inbox
<% else %>


					<% for message in @messages %>
						 <p>
						    <small>
						    Enviado por:
						      <%= message.sender_id %> - 
						      <%= message.sender.name %>
						    As:
						      <%= message.created_at %>
						    </small>
						  </p>
						  
						  <%= message.text %>

						  <p hidden="true">
						    <strong>is_read:</strong>
						    <%= message.is_read %>
						  </p>

						  <p hidden="true">
						    <strong>Receiver</strong>
						    <%= message.receiver_id %>
						    <%= message.receiver.name %>
						  </p>

						  <p hidden="true">
						    <strong>Ad_id:</strong>
						    <%= message.ad_id %>
						  </p>
						
			<% end %>
	
		<% end %>

