<ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
  <% if user_signed_in? %>
  <li class="active">
    <i class="fa fa-users"></i>
    <a class="url" href="<%= user_path(current_user.id) %>"><%= current_user.name %></a> >
    <a class="url" href="<%= messages_path %>">Mensagens</a>
  </li>
  <% end %>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="fa fa-comment"></span> Chat 
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href="#"><span class="fa fa-refresh">
                            </span>Refresh</a></li>
                            <li><a href="#"><span class="fa fa-ok-sign">
                            </span>Available</a></li>
                            <li><a href="#"><span class="fa fa-remove">
                            </span>Busy</a></li>
                            <li><a href="#"><span class="fa fa-time"></span>
                                Away</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><span class="fa fa-off"></span>
                                Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body panel-bodyMessage">
                    <ul class="chat">
                        <div id="messages">
                            <%= render :partial => "messages" %>
                        </div>
                    </ul>
                </div>
                <div class="panel-footer">
                  <%= render :partial =>"messages/form_mp" ,:locals =>{ :path => message_path(@talk),:user_receiver_id => @user_receiver_id }  %>        
                </div>
            </div>
        </div>



        </div>
    </div> 

