<p id="notice"><%= notice %></p>

<p>
  <strong>Vote:</strong>
  <%= @academy_vote.vote %>
</p>

<p>
  <strong>User:</strong>
  <%= @academy_vote.user_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @academy_vote.answer_id %>
</p>

<%= link_to 'Edit', edit_academy_vote_path(@academy_vote) %> |
<%= link_to 'Back', academy_votes_path %>
