<%= form_for@event_event, :html => {:multipart => true,:id=>"event_form"} do |f| %>

    <div class="control-group">
      <%= f.label :title, "Título",:class=>"control-label" %><label class="help-inline" style="margin-left:10px" generated="true" for="event_event_title"></label>
      <div class="controls">
        <%= f.text_field :title,:placeholder => "Defina o título do evento" ,:class=>"form-control",:rel=>"tooltip",:title=>"Escolha um titulo apropriado.
         Seja claro e sucinto." %>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4" id="event-begin-date">
        <div class="control-group">
          <%= f.label :start_day, "Data de Início",:class=>"control-label" %><label for="event_event_start_day" generated="true" class="help-inline"></label>
          <div class="controls">
            <%= f.text_field :start_day, :placeholder=>"dd/mm/yyyy", :class=> "datepicker form-control", :value => (I18n.localize(@event_event.start_day) if (@event_event && @event_event.start_day)) %>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="control-group">
          <%= f.label :end_day, "Data de Fim",:class=>"control-label" %><label style="margin-left:10px" for="event_event_end_day" generated="true" class="help-inline"></label>
          <div class="controls">
            <%= f.text_field :end_day, :placeholder=>"dd/mm/yyyy", :class=> "datepicker form-control", :value => (I18n.localize(@event_event.end_day) if (@event_event && @event_event.end_day)) %>
          </div>
        </div>
      </div>

      <div class="col-md-4" id="event-city">
        <div class="control-group">
          <%= f.label :city_id, "Cidade" %><label class="help-inline" generated="true" for="event_event_city_id"></label>
          <div class="controls" style="margin-top: 4px;">
            <%= f.collection_select(:city_id,@cities,:id,:city,:class=>"form-control", :id=>"event-cities", :include_blank => 'Selecione...') %>
          </div>
        </div>
      </div>

    </div>

    <div class="control-group">
      <%= f.label :description, "Descrição" ,:class=>"control-label" %><label class="help-inline" style="margin-left:10px" generated="true" for="event_event_description"></label>
      <div class="controls">
        <%= f.text_area :description,:placeholder => "Descreva o evento...",:class=>"form-control", :rel=>"tooltip",:title=>"Escreva de forma clara e não utilize demasiada pontuação ou termos repetidos.", rows: 4, style: "max-width: 100%;" %>
      </div>
    </div>

    <p style="padding-bottom: 10px;">
      <%= f.label :image, "Imagem" %><br />
      <%= f.file_field :image %>
    </p>


    <div class="panel-footer" id="event-footer">
      <div class="fields">
        <% if action_name == "edit" %>
          <%= link_to '<span class="icon-arrow-left" style="margin-right: 5px; color:white;"></span>Voltar'.html_safe, event_event_path(params[:id]), class: "btn btn-primary" %>
        <% else %>
          <%= link_to '<span class="icon-arrow-left" style="margin-right: 5px; color:white;"></span>Voltar'.html_safe, myevents_path(current_user.id), class: "btn btn-primary" %>
        <% end %>

        <div class="actions" style="float:right">
          <div class="actions" style="float:right">
            <% if controller.action_name == "edit" %>
                <%= f.submit "Editar Evento", :class=>"btn btn-primary" %>
            <% else %>
                <%= f.submit "Criar Evento" , :class=>"btn btn-primary"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if @event_event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event_event.errors.count, "error") %> prohibited this event_event from being saved:</h2>

          <ul>
            <% @event_event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<% end %>


<script type="text/javascript">
    var currentTime = new Date()  ;
    var month = currentTime.getMonth() + 1   ;
    var day = currentTime.getDate() ;
    var year = currentTime.getFullYear() ;

    $('.datepicker').datepicker({
        todayBtn: true,
        startView: 2,
        format: "dd/mm/yyyy",
        language: "pt",
        autoclose: true,
        todayHighlight: true,
        calendarWeeks: true,
        startDate: day + "/" + month + "/" + year
    })
</script>

