<% if flash[:notice] %>
<script> showNotify("<%= flash[:notice] %>","success") </script>
<% end %>
<% if flash[:error] %>
<script> showNotify("<%= flash[:error] %>","error") </script>
<% end %>

<ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
  <li class="active">
    <i class="fa fa-calendar"></i> <a class="url" href="<%= event_events_path %>">Eventos </a> >
    <a class="url" href="<%= event_event_path(@event_event.id) %>"> <%= @event_event.title %></a>
  </li>
  <% if user_signed_in? %>
    <%= link_to '<i class="fa fa-plus"></i>Novo Evento'.html_safe, new_event_event_path,:class=> "url", style:"float:right"%>
  <% end %>
</ol>

<% content_for :head do %>
  <!-- Facebook -->
  <meta property="og:title" content="<%= @event_event.title %>"/>
  <meta property="og:image" content="<%= root_url.chop + @event_event.image.url %>"/>
  <meta property="og:site_name" content="AgroSocial"/>
  <meta property="og:description" content="<%= @event_event.description %>"/>
  <meta property="og:url" content="<%= event_event_url(@event_event) %>"/>
  <meta property="og:locale" content="<% if params[:locale] %><%= params[:locale] %><% else %>pt_PT<% end %>"/>
  <meta property="fb:app_id" content="547514635336381"/>
  <!-- Twitter -->
  <meta name="twitter:card" content="AgroSocial" />
  <meta name="twitter:title" content="<%= @event_event.title %>" />
  <meta name="twitter:description" content="<%= @event_event.description %>" />
  <meta name="twitter:image" content="<%= root_url.chop + @event_event.image.url %>" />
  <!-- Google -->
  <meta name="description" content="<%= @event_event.description %>" />
  <meta name="keywords" content="Event" />
  <meta name="author" content="<%= @event_event.user.name %>" />
  <meta name="copyright" content="© 2014 AGROSOCIAL. Todos os direitos reservados." />
  <meta name="application-name" content="AgroSocial" />
<% end %>

<section class="panel" style="border: 1px solid #dddddd;">
  <div class="panel-body">
    <div class="col-xs-3 col-md-3 text-center" style="margin-top:10px;">
      <%= image_tag @event_event.image.url, :class=>"img-rounded img-responsive" %>
    </div>
    <!-- Information EVENT -->
    <div class="col-md-9">
      <div style="padding-bottom: 25px;">
        <div style="width:100%; text-align:right; margin: 10px 10px 0 0;">
          <% if user_signed_in? && current_user.id == @event_event.user_id %>
          <%= link_to '<i class="fa fa-edit"></i>Editar '.html_safe, edit_event_event_path(@event_event), class:'no-effect', :tile=> "Editar Evento" %>
          <%= link_to '<i class="fa fa-trash-o"></i>Eliminar '.html_safe, @event_event, class:'no-effect', method: :delete, data: { confirm: 'Tem a certeza que quer apagar o seu evento?' } ,:tile=> "Apagar Evento"%>
            <% end %>
        </div>
        <div style="float:left; width: 100%; margin-bottom: 10px;">
          <h3><%= @event_event.title %></h3>
        </div>
      </div>
      <br>
      <div class = "ads_metainfo" style="margin-bottom:10px; padding: 0 10px 0 10px; ">
        <p>
          <%= @event_event.description %>
        </p>
      </div>

      <div style="width:100%; height: 20px; margin-bottom: 15px;">
        <div style="float:left">
          <i class="fa fa-map-marker"></i><%= @event_event.city.city %>
        </div>
        <div style="float:right">
          <span class="event-begin">
            <span class="fa fa-calendar" style="color:darkgreen;"></span><%= (@event_event.start_day).strftime("%d - %m - %Y") %>
          </span>
          <span>
            <span class="fa fa-calendar" style="color:#d43f3a"></span><%= (@event_event.end_day).strftime("%d - %m - %Y") %>
          </span>
        </div>
      </div>

      <div class ="ads_description" style="height: 20px; margin-bottom: 10px;">  
        <div style="float:left;">
          <strong>Criado Por:</strong>
          <%= link_to get_first_last_name(@event_event.user.name), @event_event.user, class:"url" %>
        </div>
        <div style="float:right;">
          <div class="fb-share-button sharebutton" data-href="<%= event_event_url(@event_event) %>" data-type="button"></div>
          <div class="sharebutton">
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="none"
              data-url="<%= event_event_url(@event_event) %>"
              data-hashtags="AgroSocial"
              data-text="<%= 'Event - ' + @event_event.title%>"
            >Tweet</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="fields">
  <button type="button" class="btn btn-primary" onclick="location.href='<%= myevents_path(current_user.id) %>'">
    <span class="icon-arrow-left" style="margin-right: 5px; color:white;"></span>Voltar
  </button>
</div>
