<ol class="breadcrumb" id="breadcrumbAds">
  <li class="active">
    <a class="url" href="<%= event_events_path %>"><i class="fa fa-tags"></i> Eventos</a>
    <a class="url" href="<%= event_event_path(@event_event.id) %>"> > <%= @event_event.title %></a></li>
  <div style="float:right">
    <% if user_signed_in? %>
        <%= link_to 'Novo Evento', new_event_event_path,:class=> "url"%>
    <% end %>
  </div>
</ol>

<p id="notice"><%= notice %></p>

<p>
  <strong>Start day:</strong>
  <%= @event_event.start_day %>
</p>

<p>
  <strong>End day:</strong>
  <%= @event_event.end_day %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event_event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event_event.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @event_event.user_id %>
</p>

<p>
  <strong>Aproved:</strong>
  <%= @event_event.aproved %>
</p>

<%= link_to 'Edit', edit_event_event_path(@event_event) %> |
<%= link_to 'Back', event_events_path %>
