<section class="panel">
  <header class="panel-heading"><h1>Workshops por aprovar</h1><h5><%= @unaproved_workshops.count %> Workshops</h5>
  </header>
<div class="table-responsive">
  <table class="table table-hover tablesorter" id="orderTable" >
  <thead>
  <tr>
    <th>ID</th>
    <th>Autor</th>
    <th>Título</th>
    <th>Resumo</th>
    <th>Total Vagas</th>
    <th>Inscritos</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @unaproved_workshops.each do |uap_workshop| %>
      <tr>
        <td><%= uap_workshop.id %></td>
        <td><%= uap_workshop.user.name %></td>
        <td><%= uap_workshop.title %></td>
        <td><%= uap_workshop.description.truncate(25).html_safe %></td>
        <td><%= uap_workshop.available_slots %></td>
        <td><%= uap_workshop.slots_taken %></td>
        <td><%= I18n.l uap_workshop.date ,:format => :time %></td>
        <td><%= link_to 'Ver', admin_academy_workshop_path(uap_workshop.id) %> </td>
        <td><%= link_to 'Aprovar' , admin_aprove_workshop_path(:id_aprove => uap_workshop.id)%></td>
        <td><%= link_to 'Apagar', admin_academy_workshop_path(id: uap_workshop.id), method: :delete, data: { confirm: 'Tem a certeza?' } %></td>

        <td></td>

      </tr>
  <% end %>
  </tbody>
</table>
</div>
</section>


<section class="panel">
  <header class="panel-heading"><h1>Workshops aprovados</h1><h5><%= @aproved_workshops.count %> Workshops</h5>
  </header>
<div class="table-responsive">
  <table class="table table-hover tablesorter" id="orderTable" >
    <thead>

  <tr>
    <th>ID</th>
    <th>Autor</th>
    <th>Título</th>
    <th>Resumo</th>
    <th>Total Vagas</th>
    <th>Inscritos</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
    </thead>
  <tbody>
  <% @aproved_workshops.each do |ap_workshop| %>
      <tr>
        <td><%= ap_workshop.id %></td>
        <td><%= ap_workshop.user.name %></td>
        <td><%= ap_workshop.title %></td>
        <td><%= ap_workshop.description.truncate(25).html_safe %></td>
        <td><%= ap_workshop.available_slots %></td>
        <td><%= ap_workshop.slots_taken %></td>
        <td><%= I18n.l ap_workshop.date ,:format => :time %></td>
        <td><%= link_to 'Ver', admin_academy_workshop_path(ap_workshop.id) %> </td>
        <td><%= link_to 'Desaprovar', admin_unaprove_workshop_path(:id_aprove => ap_workshop.id) %></td>
         <td><%= link_to 'Apagar', admin_academy_workshop_path(id: ap_workshop.id), method: :delete, data: { confirm: 'Tem a certeza?' } %></td>

      </tr>
  <% end %>
  </tbody>
</table>
</div>
</section>
