
<div class="col-md-4 login-col-form">


  <div class="well col container">
    <legend><i class="fa fa-pencil"></i> Registo </legend>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name) ,:html=>{:class=>"form", autocomplete: "off"}) do |f| %>

        <div class="control-group">
          <%= f.label :name, "Nome",:class=>"control-label" %><label style="float: right" for="user_name" generated="true" class="help-inline"></label>
          <div class="controls">
            <%= f.text_field :name,:class=>"form-control", :autofocus => true %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :avatar, "Imagem",:class=>"control-label" %><label style="float: right" for="user_avatar" generated="true" class="help-inline"></label>
          <div class="controls">
            <%= f.file_field :avatar,:class=>"form-control" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :city_id, "Cidade",:class=>"control-label" %><label style="float: right" for="user_city_id" generated="true" class="help-inline"></label>
          <div class="controls">
            <%= f.collection_select(:city_id,@cities,:id,:city, {:include_blank =>"Escolha uma opção"} ,{:class=> "form-control"}) %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :email, "Email",:class=>"control-label" %><label style="float: right" for="user_email" generated="true" class="help-inline"></label>
          <div class="controls">
            <%= f.email_field :email, :class=>"form-control" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, "Password",:class=>"control-label" %><label style="float: right" for="user_password" generated="true" class="help-inline"></label>
          <div class="controls">
            <%= f.password_field :password  , :class=>"form-control" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password_confirmation, "Confirmar Password",:class=>"control-label" %><label style="float: right" for="user_password_confirmation" generated="true" class="help-inline"></label>
          <div class="controls">
            <%= f.password_field :password_confirmation  , :class=>"form-control" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :birthday, "Data de Nascimento",:class=>"control-label" %><label style="float: right" for="user_birthday" generated="true" class="help-inline"></label>
          <div class="controls">
            <%= f.text_field :birthday, :placeholder=>"dd/mm/yyyy", :class=> "datepicker form-control" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :phone, "Telefone",:class=>"control-label" %><label style="float: right" for="user_phone" generated="true" class="help-inline"></label>
          <div class="controls">
            <%= f.text_field :phone , :class=>"form-control"  %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit "Registar" ,:class=>"btn btn-lg btn-primary btn-block" %>
        </div>

        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2>Os seguintes erros impediram o envio do formulário:</h2>
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="right-section links">
              <a>
               <%= render "devise/shared/links"  %>
              </a>
        </div>
    <% end %>

    </div>
  </div>

<script type="text/javascript">
    var currentTime = new Date()  ;
    var month = currentTime.getMonth() + 1   ;
    var day = currentTime.getDate() ;
    var year = currentTime.getFullYear() ;

    $('.datepicker').datepicker({
        todayBtn: true,
        startView: 2,
        format: "dd/mm/yyyy",
        language: "pt",
        autoclose: true,
        todayHighlight: true,
        calendarWeeks: true,
        startDate: day + "/" + month + "/" + (year - 100)
    })
</script>
