<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :avatar,"Image" %><br />
  <%= f.file_field :avatar %>

  <div><%= f.label :name, "Name" %><br />
    <%= f.text_field :name,:id =>"name_sign_up" %>
    <span id="name_extra" class="textoextra"></span>
  </div>


  <div><%= f.label :username, "Username" %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :city_id, "City" %><br />
    <%= f.collection_select(:city_id,@cities,:id,:city, :include_blank => 'Escolha uma opção') %>
  </div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :birthday, "Birthday"%><br />
  <%= f.date_select :birthday, :order => [:day, :month, :year],:start_year => Time.now.year - 200 %>

  <div><%= f.label :phone, "Phone"%><br />
  <%= f.text_field :phone %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
