<div class="col-lg-12">
  <section class="panel <%=  is_mine?( answer.user.id ) %>">
    <% if user_signed_in? %>
      <header class="panel-heading" style="height:40px;">
        <div class="pull-right">
          <%= link_to '<i class="fa fa-edit"></i>Editar '.html_safe , edit_academy_answer_path(answer), :class => 'no-effect' if answer.user.id == current_user.id %>
          <%= link_to '<i class="fa fa-trash-o"></i>Eliminar '.html_safe , answer , method: :delete, data: { confirm: 'Tem a certeza?' }, :class => 'no-effect' if answer.user.id == current_user.id %>
        </div>
      </header>
    <% end %>

    <div class="panel-body" id="panel-answer">
      <div class="col-xs-2 col-md-2" id="user-avatar"><%##  Avatar do user que respondeu  ##%>
        <%=link_to image_tag(answer.user.avatar.url(:medium),:width => "70%",:class => "img-circle"), answer.user %>

        <%= answer.user.name %>
      </div>

      <div class="col-xs-9 col-md-10 "><%##  texto da resposta  ##%>
        <%= answer.text.html_safe %>
      </div>
    </div>


      <div class="panel-footer">
      <%###  answers votes  ###%>
            <%#  Verify if the user is logged or if is the answer's owner %>
            <% if !user_signed_in? || current_user.id == answer.user.id #if not logged or is the owner them cant vote %>
              <label class="label label-default" syle="font-size:10px"><%= answer.up - answer.down %></label>
              <label class="label label-info">Minha Resposta</label>
            <% else %>
              <% vote = answer.which_vote?( current_user ) %>
              <!-- Answer Helper-->

              <%= link_to '<i class="fa fa-thumbs-up  fa-2x '.html_safe + up_vote?( vote ) +'"></i>'.html_safe, academy_up_vote_path(:answer => answer), :title => "Dá mais um ponto a esta resposta!!" %>
              <!-- HELPER -->
              <%= total_result( answer.up - answer.down) %>
              <%= link_to '<i class="fa fa-thumbs-o-down fa-2x '.html_safe + down_vote?( vote ) +'"></i>'.html_safe, academy_down_vote_path(:answer => answer), :title => "Dá menos um ponto a esta resposta!!"  %>
            <% end %>
      <%###  end of answers votes  ###%>

          <div class="pull-right">
            <abbr class="timeago" title="<%= answer.created_at.getutc.iso8601 %>">
                <%= answer.created_at.to_s(:db) %>
            </abbr>
          </div>
       </div>

  </section>
</div>