<div class="col-lg-12">
  <section class="panel <%=  is_mine?( answer.user.id ) %>">
    <header class="panel-heading ">

    </header>
    <div class="panel-body">
      <div class="pull-right">
        <%##  botão verde com o lapis para editar a resposta  ##%>
        <%= link_to '<i class="icon-pencil"></i>'.html_safe , edit_academy_answer_path(answer), :class => "btn btn-primary btn-xs" if answer.user.id == current_user.id %>
        <%##  botão vermelho com o caixote para eliminar a resposta  ##%>
        <%= link_to '<i class="icon-trash"></i>'.html_safe , answer , method: :delete, data: { confirm: 'Tem a certeza?' }, :class => "btn btn-danger btn-xs" if answer.user.id == current_user.id %>
      </div>


      <div class="col-xs-2 col-md-2"><%##  Avatar do user que respondeu  ##%>
        <%=link_to image_tag(answer.user.avatar.url(:medium),:width => "70%",:class => "img-circle"), answer.user %>

        <%= answer.user.name %>
      </div>

      <div class="col-xs-9 col-md-10 "><%##  texto da resposta  ##%>
        <%= answer.text.html_safe %>
      </div>
    </div>


      <div class="panel-footer">
      <%###  answers votes  ###%>
            <%#  Verify if the user is logged or if is the answer's owner %>
            <% if !user_signed_in? || current_user.id == answer.user.id #if not logged or is the owner them cant vote %>


              <label class="label label-default" syle="font-size:10px"><%= answer.up - answer.down %></label>
              <label class="label label-info" >Minha Resposta</label>
            <% else %>
              <% vote = answer.which_vote?( current_user ) %>
              <!-- Answer Helper-->

              <%= link_to '<i class="fa fa-thumbs-up  fa-2x '.html_safe + up_vote?( vote ) +'"></i>'.html_safe, academy_up_vote_path(:answer => answer), :title => "Dá mais um ponto a esta resposta!!" %>
              <label class="label label-success" syle="font-size:10px"><%= answer.up - answer.down %></label>
              <%= link_to '<i class="fa fa-thumbs-o-down fa-2x '.html_safe + down_vote?( vote ) +'"></i>'.html_safe, academy_down_vote_path(:answer => answer), :title => "Dá menos um ponto a esta resposta!!"  %>
            <% end %>
      <%###  end of answers votes  ###%>

          <div class="pull-right">
            <%= was_edited?( answer ) %>

          </div>
       </div>


  </section>
</div>