<% if @academy_answer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@academy_answer.errors.count, "error") %> prohibited this academy_answer from being saved:</h2>
    <ul>
      <% @academy_answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= f.hidden_field :question_id, :value => question.id %>
<%= f.hidden_field :user_id, :value => current_user.id %>

<div class="control-group">
  <div class="controls">
    <%= f.text_area :text,:id=>"text_comment",:rows=>5,:placeholder => "Escreva a sua resposta aqui..." ,:class=>"form-control counted",:rel=>"tooltip",:title=>"Responda de forma clara e sucinta." %>
  </div>
</div>

<div class="actions" style="float:right">
  <% if controller.action_name != "edit" %>
    <%= f.submit "Responder", :class => "btn btn-info" %>
  <% else %>
    <%= f.submit "Editar", :class => "btn btn-info" %>
  <% end %>
</div>