<%= form_for(@admin_publicity) do |f| %>
  <% if @admin_publicity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_publicity.errors.count, "error") %> prohibited this admin_publicity from being saved:</h2>

      <ul>
      <% @admin_publicity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :expire_date %><br>
  </div>
  <div class="field">
    <%= f.label :owner %><br>
    <%= f.text_field :owner %>
  </div>
  
  <p>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </p>

  <div class="field">
    <%= f.label :is_deleted %><br>
    <%= f.check_box :is_deleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
