<%= form_for(@admin_publicity) do |f| %>
  <% if @admin_publicity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_publicity.errors.count, "error") %> prohibited this admin_publicity from being saved:</h2>

      <ul>
      <% @admin_publicity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :título %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :descrição %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :data_de_expiração %><br>
  </div>
  <div class="field">
    <%= f.label :dono %><br>
    <%= f.text_field :owner %>
  </div>
  
  <p>
    <%= f.label :imagem %><br />
    <%= f.file_field :image %>
  </p>

  <div class="field">
    <%= f.label :apagado? %><br>
    <%= f.check_box :is_deleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
