<h1>Stats</h1>


<!-- ADS PER CATEGORY GRAPH -->
        <div class="row">
          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Novos utilizadores por mês</h3>
              </div>
              <div class="panel-body">
              <%= column_chart @dashboard.users_last_year %>
               <%# line_chart @dashboard.users.group_by_day_of_week(:created_at).count %>

                <!--div class="text-right">
                  <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                </div-->
              </div>
            </div>
          </div><!-- END ADS PER CATEGORY GRAPH -->


          <!-- ADS PER CATEGORY GRAPH -->
          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Utilizadores com mais logins</h3>
              </div>
              <div class="panel-body">
              <%= column_chart @dashboard.most_logged_users %>
                <!--div class="text-right">
                  <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                </div-->
              </div>
            </div>
          </div><!-- END ADS PER CATEGORY GRAPH -->


                    <!-- ADS PER CATEGORY GRAPH -->
          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Anúncios mais vistos</h3>
              </div>
              <div class="panel-body">
              <%= column_chart @dashboard.most_viewed_ads %>
                <!--div class="text-right">
                  <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                </div-->
              </div>
            </div>
          </div><!-- END ADS PER CATEGORY GRAPH -->


        <!-- ADS PER CITY GRAPH -->
          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Anúncios por distrito</h3>
              </div>
              <div class="panel-body">
                <%= pie_chart( @dashboard.ads_per_district ) %>
                <!--div class="text-right">
                  <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                </div-->
              </div>
            </div>
          </div><!-- END ADS PER CATEGORY GRAPH -->



        <!-- ADS PER CITY GRAPH -->
          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Utilizdores com mais anúncios</h3>
              </div>
              <div class="panel-body">
                <%= bar_chart( @dashboard.ads_per_user ) %>
                <!--div class="text-right">
                  <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                </div-->
              </div>
            </div>
          </div><!-- END ADS PER CATEGORY GRAPH -->



                  <!-- ADS PER CITY GRAPH -->
          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Utilizdores com mais eventos</h3>
              </div>
              <div class="panel-body">
                <%= bar_chart( @dashboard.events_per_user ) %>
                <!--div class="text-right">
                  <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                </div-->
              </div>
            </div>
          </div><!-- END ADS PER CATEGORY GRAPH -->


 <!-- ADS PER CATEGORY GRAPH -->
          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Anúncios por categoria</h3>
              </div>
              <div class="panel-body">
                <%= pie_chart( @dashboard.ads_per_category ) %>
              </div>
            </div>
          </div><!-- END ADS PER CATEGORY GRAPH -->


          <!-- USERS PER DISTRICT GRAPH -->
          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Utilizadores por distrito</h3>
              </div>
              <div class="panel-body">
                <%= pie_chart( @dashboard.users_per_district ) %>       
              </div>
            </div>
          </div><!-- END USERS PER DISTRICT GRAPH -->


                    <!-- USERS PER DISTRICT GRAPH -->
          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Utilizadores por plano</h3>
              </div>
              <div class="panel-body">
                <%= bar_chart( @dashboard.users_per_plan ) %>       
              </div>
            </div>
          </div><!-- END USERS PER DISTRICT GRAPH -->



                    <!-- USERS PER DISTRICT GRAPH -->
          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Utilizadores por faixa etária</h3>
              </div>
              <div class="panel-body">
                <%= bar_chart( @dashboard.users_per_age_group ) %>       
              </div>
            </div>
          </div><!-- END USERS PER DISTRICT GRAPH -->
          </div>


