<section class="panel">
  <header class="panel-heading"><h1>Lista de Tipos de Preço</h1><h5><%= @price_types.count %> Tipos</h5> 
  <div class="newItemLink">
    <i class="fa fa-plus-circle"></i><%= link_to ' Novo Tipo de Preço', new_admin_price_type_path %>
  </div>
  </header>
<div class="table-responsive">
  <table class="table table-hover tablesorter" id="orderTable" >
  <thead>
    <tr>
    <th>ID</th>
      <th>Nome</th>
      <th>Anúncios</th>
      <!--th></th-->
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @price_types.each do |price_type| %>
      <tr>
      <td><%= price_type.id %></td>
        <td><%= price_type.name %></td>
        <td><%= price_type.ads.count %></td>
        <!--td><%# link_to 'Show', admin_price_type_path(price_type) %></td-->
        <td><%= link_to 'Editar', edit_admin_price_type_path(price_type) %></td>
        <td><%= link_to 'Eliminar', admin_price_type_path(price_type), method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

</section>
<i class="fa fa-plus-circle"></i><%= link_to ' Novo Tipo de Preço', new_admin_price_type_path %>
