<ol class="breadcrumb" id="breadcrumbAds">
  <li class="active"><a class="url" href="<%= academy_path %>"><i class="fa fa-tags"></i> Academia</a></li>
</ol>




			<div id="academy_book" class="panel-body col-lg-5">
			   <%= link_to(image_tag("/assets/academy_images/green_book.jpg"), academy_path) %>


            </div>
            <div id="academy_page" class="panel">


			            <div id="academy_questions" class="panel-body col-lg-4">
							<%= link_to(image_tag("/assets/academy_images/sheet_pergunta.jpg"), academy_questions_path)	%>
			            </div>	

			            
						<div id="academy_workshops" class="panel-body col-lg-4">
							<%= link_to(image_tag("/assets/academy_images/sheet_workshop.jpg"), academy_workshops_path)	%>

						</div>	
						<div id="academy_tutoriais" class="panel-body col-lg-4">
							<%= link_to(image_tag("/assets/academy_images/sheet_tutorial.jpg"), academy_tutorials_path)	%>
						</div>

			
			</div>

           

