<ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
  <li class="active">
    <i class="fa fa-book"></i> Academia >
    <a class="url" href="<%= academy_tutorials_path %>"> Tutoriais</a> >
    <a class="url" href="<%= academy_tutorial_path(@academy_tutorial.id) %>"> <%= @academy_tutorial.title %></a>
  </li>
  <% if user_signed_in? %>
    <%= link_to '<i class="fa fa-plus"></i>Novo Tutorial'.html_safe, new_academy_tutorial_path,:class=> "new-tutorial", style:"float:right" %>
  <% end %>
</ol>

<%= render 'form' %>
