<h1>Listing academy_tutorials</h1>

<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th>User</th>
      <th>Aproved</th>
      <th>Title</th>
      <th>Is delected</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @academy_tutorials.each do |academy_tutorial| %>
      <tr>
        <td><%= academy_tutorial.category_id %></td>
        <td><%= academy_tutorial.user_id %></td>
        <td><%= academy_tutorial.aproved %></td>
        <td><%= academy_tutorial.title %></td>
        <td><%= academy_tutorial.is_delected %></td>
        <td><%= link_to 'Show', academy_tutorial %></td>
        <td><%= link_to 'Edit', edit_academy_tutorial_path(academy_tutorial) %></td>
        <td><%= link_to 'Destroy', academy_tutorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutorial', new_academy_tutorial_path %>
