<% if flash[:notice] %>
  <script> showNotify("<%= flash[:notice] %>","success") </script>
<% end %>
<% if flash[:error] %>
  <script> showNotify("<%= flash[:error] %>","info") </script>
<% end %>

 <ol class="breadcrumb" id="breadcrumbAds">
    <li class="active"><a class="url" href="<%= academy_tutorials_path %>"><i class="fa fa-tags"></i> Tutoriais</a></li>
   <% if user_signed_in? %>
       <%= link_to 'Novo Tutorial', new_academy_tutorial_path,:class=> "url", style:"float:right"%>
   <% end %>
 </ol>


  <div class="row ads_index_section">
    <% @academy_tutorials.each do |academy_tutorial| %>
      <% if academy_tutorial.aproved? %>
        <div class="col-sm-3 col-md-4" >
          <div class="panel">
             <header class="panel-heading tutorials_thumbnails" style="border-bottom: 2px solid #<%= academy_tutorial.category.color %>;">
               <div class="pull-right">
                <% if current_user.id == academy_tutorial.user_id %>
                  <%= link_to 'Editar', edit_academy_tutorial_path(academy_tutorial),:class => "label pull-right",:style => "background-color:#FFCC91" %>
                <% end %>
              </div>
                <span class="label" style="background-color: #<%= academy_tutorial.category.color %>">
                 <%= academy_tutorial.category.name %>
                </span>

              </header>
            <div class="panel-body" style="padding:10px;">
               <div class="caption">
                <h3><%= academy_tutorial.title %></h3>
                <p><%= academy_tutorial.rapid_description %></p>
                <p><i class="fa fa-user"></i> <%= academy_tutorial.user.name %> </p>
                <%= link_to 'Ver', academy_tutorial,:class => "label pull-right",:style => "background-color:#FFCC91" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
