<ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
  <li class="active">
    <i class="fa fa-book"></i> Academia >
    <a class="url" href="<%= academy_tutorials_path %>">Tutoriais</a> >
    <a class="url" href="<%= academy_tutorial_path(@academy_tutorial.id) %>"> <%= @academy_tutorial.title %></a>
  </li>
  <% if user_signed_in? %>
    <%= link_to '<i class="fa fa-plus"></i>Novo Tutorial'.html_safe, new_academy_tutorial_path,:class=> "url", style:"float:right" %>
  <% end %>
</ol>

<p id="notice"><%= notice %></p>

<section class="panel" style="border: 1px solid #dddddd;">
  <header class="panel-heading border-header text-center" style="background-color:#f5f5f5; border-bottom: 1px solid #dddddd;">
    <div style="display: inline-block; width: 100%;">
      <div id="category-label" style="float:left; width:30%; text-align:left;">
        <span class="label" style="background-color: #<%= @academy_tutorial.category.color %> ; color: black; font-size:12px;">
          <%= @academy_tutorial.category.name %>
        </span>
      </div>
      <% if user_signed_in? && current_user.id == @academy_tutorial.user_id %>
      <div class="pull-right" style="padding-bottom: 2px;">
        <%= link_to '<i class="fa fa-edit"></i>Editar '.html_safe, edit_academy_tutorial_path(@academy_tutorial),:class=>"no-effect", :tile=> "Editar Tutorial" %>
        <%= link_to '<i class="fa fa-trash-o"></i>Eliminar '.html_safe, @academy_tutorial, method: :delete, data: { confirm: 'Tem a certeza que quer apagar o seu tutorial?' } ,:class=>"no-effect", :tile=> "Apagar Tutorial"%>
      </div>
      <% end %>
    </div>
    <br>
    <div class="title_show_tutorial">
      <%= @academy_tutorial.title %>
    </div>
  </header>

  <div class="panel-body">
    <div><%##  texto da resposta  ##%>
      <div class="information_show_tutorial">
        <div id="tutorial-title-description">
          <p>
            <ul id="tutorial-info">
              <li>
                <span>Autor: </span> <%= @academy_tutorial.user.name %>
              </li>
              <li id="tutorial-date">
                <span>Data de Criação: </span>
                <abbr class="timeago" title="<%=  @academy_tutorial.created_at.getutc.iso8601 %>">
                  <%=  @academy_tutorial.created_at.to_s %>
                </abbr>
              </li>
            </ul>
          </p>
          <p>
            <span>Descrição: </span> <%= @academy_tutorial.rapid_description %>
          </p>
        </div>

        <div class="process_show_tutorial" >
          <div class="text_show_tutorial">
            <%= @academy_tutorial.text.html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-footer" id="tutorial-footer">
    <div class="fields">
      <div class="button_back">
        <button type="button" class="btn btn-primary" onclick="location.href='<%= academy_tutorials_path %>'">
          <span class="icon-arrow-left" style="margin-right: 5px; color: white;"></span> Voltar
        </button>
      </div>
    </div>
  </div>
</section>