<h1>Listar tipos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Flag</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.name %></td>
        <td><%= type.flag %></td>
        <td><%= link_to 'Ver', type %></td>
        <td><%= link_to 'Editar', edit_type_path(type) %></td>
        <td><%= link_to 'Destruir', type, method: :delete, data: { confirm: 'Tens a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Tipo', new_type_path %>
