<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @type.name %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @type.flag %>
</p>

<%= link_to 'Editar', edit_type_path(@type) %> |
<%= link_to 'Voltar', types_path %>
