<%= form_for(@academy_workshop_registration) do |f| %>
  <% if @academy_workshop_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@academy_workshop_registration.errors.count, "error") %> prohibited this academy_workshop_registration from being saved:</h2>

      <ul>
      <% @academy_workshop_registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :workshop_id %><br>
    <%= f.number_field :workshop_id ,:value=> @academy_workshop.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id ,:value=> current_user.id %>
  </div>

  <div class="actions pull-right">
    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
    
    <%= f.submit "Inscrever-se", :class=> "btn btn-primary"%>
  </div>
<% end %>
