
<div class="workshop_inscription_title">

       <p> Lista de Registo do Workshop </p>

</div> 


<table class="table table-hover">
  <thead>
    <tr class="workshop_table_head">
      <th>Workshop</th>
      <th>Utilizador</th>
      <th>Registo em:</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @academy_workshop_registrations.each do |academy_workshop_registration| %>
      <tr>
        <td><%= academy_workshop_registration.workshop_id %></td>
        <td><%= academy_workshop_registration.user_id %></td>
        <td><%= academy_workshop_registration.is_deleted %></td>
        <td><%= link_to 'Show', academy_workshop_registration %></td>
        <td><%= link_to 'Edit', edit_academy_workshop_registration_path(academy_workshop_registration) %></td>
        <td><%= link_to 'Destroy', academy_workshop_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<div class="">

  <p> <i class="fa fa-plus"></i><%= link_to 'Regista te agora no Worskhop', new_academy_workshop_registration_path %> </p>
</div>
