
  <ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
    <li class="active">
      <i class="fa fa-shopping-cart"></i> <a class="url" href="<%= ads_path %>">Anúncios</a> >
    </li>
      <% if user_signed_in? %>
        <a class="url" href="<%= myads_user_path(current_user.id) %>"> Os meus anúncios</a>
        <%= link_to "<i class='fa fa-plus'></i>Novo Anúncio".html_safe, new_ad_path, class:"url", style:"float:right" %>
      <% end %>
  </ol>

<%= will_paginate(@ads, renderer: BootstrapPagination::Rails, :previous_label => 'Anterior', :next_label => 'Seguinte') %>
  <div class="row ads_index_section">
    <%= render :partial => @ads %>
  </div>
  <% if @ads.empty? %>
      Ainda não existem anúncios. Consulte os pacotes disponíveis!
  <% end %>
<%= will_paginate(@ads, renderer: BootstrapPagination::Rails, :previous_label => 'Anterior', :next_label => 'Seguinte') %>
