
  <ol class="breadcrumb" id="breadcrumbAds">
    <li class="active">
      <a class="url" href="<%= ads_path %>"><i class="fa fa-tags"></i>Anúncios</a></li>
      <% if user_signed_in? %>
        <a class="url" href="<%= myads_user_path(current_user.id) %>"> > Os meus anúncios</a></li>
        <%= link_to "Novo Anúncio", new_ad_path, class:"url", style:"float:right" %>
      <% end %>
  </ol>

<%= will_paginate(@ads, renderer: BootstrapPagination::Rails, :previous_label => 'Anterior', :next_label => 'Seguinte') %>
  <div class="row ads_index_section">
    <%= render :partial => @ads %>
  </div>
  <% if @ads.empty? %>
      Ainda não existem anúncios. Consulte os pacotes disponíveis!
  <% end %>
<%= will_paginate(@ads, renderer: BootstrapPagination::Rails, :previous_label => 'Anterior', :next_label => 'Seguinte') %>
  