<div class="row">
                  <div class="col-sm-10 col-md-10 col-md-offset-1">
                      <div class="panel panel-primary">
                          <div class="panel-heading">
                              <h3 class="panel-title">Informacao do Utilizador</h3>
                          </div>
                          <div class="panel-body">
                              <div class="row">
                                  <div class="col-md-3">
                                    <div class= "img-circle" alt="User Pic">
                                      <%= image_tag @user.avatar.url(:medium),:width => "70%"%>
                                    </div>
                                   </div>
                                  <div class="col-md-6">
                                      <table class="table table-condensed table-responsive table-user-information">
                                          <tbody>
                                              <tr>
                                                  <td>Nome:</td>
                                                  <td><%= @user.name %></td>
                                              </tr>
                                              <% if current_user==@user %>
                                              <tr>
                                                  <td>Email:</td>
                                                  <td><%= @user.email %></td>
                                              </tr>
                                              <tr>
                                                  <td>Telefone:</td>
                                                  <td><%= @user.phone %></td>
                                              </tr>
                                              <% end %>
                                              <tr>
                                                  <td>Cidade:</td>
                                                  <td><%= @user.city.city %></td>
                                              </tr>
                                              <tr>
                                                  <td>Aniversário:</td>
                                                  <td><%= @user.birthday %></td>
                                              </tr>
                                              <tr>
                                                  <td>Membro desde:</td>
                                                  <td><%= @user.created_at %></td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                          <div class="panel-footer">
                            <% if current_user!=@user %>

                                <button class="btn btn-sm btn-primary" type="button"
                                      data-toggle="tooltip"
                                      data-original-title="Send message to user"><i class="glyphicon glyphicon-envelope"></i>
                                    </button>
                            <% end %>


                              <span class="pull-right">
                                  <button class="btn btn-sm btn-warning" type="button"
                                          data-toggle="tooltip"
                                          data-original-title="Edit this user"><i class="glyphicon glyphicon-edit"></i></button>
                                  <button class="btn btn-sm btn-danger" type="button"
                                          data-toggle="tooltip"
                                          data-original-title="Remove this user"><i class="glyphicon glyphicon-remove"></i></button>
                              </span>
                          </div>
                      </div>
                  </div>
</div>

<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Mandar mensagem para <%= @user.name %></h4>
</div>

  <div class="modal-body">
           <div class="row" id="post-review-box" >
                <div class="col-md-12">
                    <%= render :partial =>"messages/form_mp" ,:locals =>{ :path => user_path(@user),:user_receiver_id => @user.id }  %>
                </div>
            </div>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>

</div>


<% if current_user != nil %>
  <% if @user.id != current_user.id %>
    <button class="followToggle" value="<%= @user.id %>"><% if current_user.is_following(@user) %>unfollow<% else %>follow<% end %></button>
  <% end %>
<% end %>

<% if current_user!=@user %>
<div class="text-center">
            <button class="demo btn btn-primary btn-lg" data-toggle="modal" href="#responsive">Mandar Mensagem</button>
</div>
<% end %>

<%= link_to "Home",root_path%> | <%= link_to "Voltar",:back %>
