 
<aside class="profile-info col-lg-9" style="margin-bottom: 40px;">

    <section class="panel" style="margin-right:15px;">

          <div class="panel-default" style="">
                    <div class="panel-heading border-header panel-default">
                        <h3 class="panel-title">Biografia</h3>
                    </div>
          </div>
        <div class="panel-body bio-graph-info" style="margin-top:10px;">
           
         
            
            <div class="row">
                <div class="bio-row">
                    <p><span>Nome: </span> <%= @user.name %></p>
                </div>
                <div class="bio-row">
                    <p><span>Cidade: </span><% if @user.city %> <%= @user.city.city %><% end %></p>
                </div>
                <div class="bio-row">
                    <p><span>Data de Nascimento:</span><%= I18n.localize(@user.birthday) if @user.birthday %></p>
                </div>
                <div class="bio-row">


                    <p><span>Ocupação:</span> <%= @user.ocupation %></p>

                </div>
                <div class="bio-row">
                    <p><span>Email: </span> <%= @user.email %></p>
                </div>
                <div class="bio-row">
                    <p><span>Membro desde: </span><%= I18n.localize(@user.created_at, :format => :time) %></p>
                </div>
                <div class="bio-row">
                    <p><span>Telefone: </span> <% if @user.phone %><%= @user.phone %><% end %></p>
                </div>
            </div>
        </div>
    </section>

    <section class="panel" style="margin-right:15px;">
        <div class="panel-default" style="">
            <div class="panel-heading border-header panel-default">
                <h3 class="panel-title">Reputação de <%= @user.name %></h3>
            </div>
        </div>

        <div class="panel-body bio-graph-info">
            <!--<a href="ratings_path"> -->
            <div  class="row">

                <div style="display: inline-block; width: 100%; margin: 0 10px 0 10px">
                    <div class="row lead" style="margin: 0 0 50px 0;">
                        <span style="position: absolute; left: 40px; font-size: 30px; vertical-align: middle;">
                            <%= @myrate.round(1).to_f %>
                        </span>
                        <% (1..(@myrate.to_i)).each do |i| %>
                            <span class="icon_rating" style="left: <%= i*30 %>px"></span>
                        <% end %>
                        <% j = 1 %>
                        <% if @rate_perc_init != 0 %>
                            <span class="icon_rating" style="left: <%= (@myrate.to_i + 1)*30 %>px;clip: rect(0px,<%= @rate_perc_init %>px,40px,0px)"></span>
                            <span class="icon_rating-nocolor" style="left: <%= (@myrate.to_i + 1)*30 %>px;clip: rect(0px,20px,40px,<%= @rate_perc_init %>px)"></span>
                            <% j = 2 %>
                        <% end %>
                        <% ((@myrate.to_i + j)..5).each do |i| %>
                            <span class="icon_rating-nocolor" style="left: <%= i*30 %>px"></span>
                        <% end %>
                    </div>
                </div>
                
            </div>
            <!--</a>-->
        </div>
    </section>

    <section class="panel" style="margin-right:15px;">
        <div class="panel-default" style="">
                    <div class="panel-heading border-header panel-default">
                        <h3 class="panel-title">Seguindo</h3>
                    </div>
          </div>

        <div class="panel-body bio-graph-info">
            <div class="row">
                <% i = 0 %>
                <% @user.following.each do |f| %>
                  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                    <a href="/users/<%= f.id %>">
                      <%= image_tag f.avatar.url(:medium),:width => "90", height:"90", class:"img-circle", title:"#{f.name}"%>
                    </a>
                  </div>

                    <% i = i+1%>
                    <% if i > 12 %>
                        <%break%>
                    <% end %>
                <% end %>
                
            </div>
        </div>
    </section>

    <section class="panel" style="margin-right:15px;">
          <div class="panel-default" style="">
                    <div class="panel-heading border-header panel-default">
                        <h3 class="panel-title">Seguidores</h3>
                    </div>
          </div>
        <div class="panel-body bio-graph-info">
            
            <div class="row">
                <% i = 0 %>
                <% @user.followers.each do |f| %>
                  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                    <a href="/users/<%= f.id %>">
                      <%= image_tag f.avatar.url(:medium),:width => "100", height:"100", class:"img-circle", title:"#{f.name}"%>
                        </a>
                  </div>
                    <%i = i+1%>
                    <% if i > 12 %>
                        <%break%>
                    <% end %>
                <% end %>
                
            </div>
        </div>
    </section>

    <% if  user_signed_in? && current_user!=@user %>
      <div class="button_msg">
                    <button class="btn btn-primary" data-toggle="modal" href="#responsive">Mandar Mensagem</button>
        </div>

    <% end %>

      

         <div class="button_back">
              <%= link_to '<span class="icon-arrow-left" style="color:white;"></span> Voltar'.html_safe, root_path, class: "btn btn-primary" %>
        </div>

</aside>

      

<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Mandar mensagem para <%= @user.name %></h4>
  </div>

 
          <div class="modal-body">
                   <div class="row" id="post-review-box" >
                        <div class="col-md-12">
                            <%= render :partial =>"messages/form_mp" ,:locals =>{ :path => user_path(@user),:user_receiver_id => @user.id }  %>
                        </div>
                    </div>
          </div>


</div>




