
<h1>User#show</h1>

<p>Nome: <%= @user.name %></p>
<p>Nickname: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<p>Cidade: <%= @user.city %></p>
<p>Aniversário: <%= @user.birthday %> Falta o FORMAT</p>


<%= link_to "Home",root_path%> | <%= link_to "Voltar",:back %>
