


<div class=" col-md-8 regist_form text-center">
	
        
    		  
                <h2>Esqueceu a sua password</h2>
                
                <p>Escreva o seu email e siga as intrucões.</p>

                <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post}) do |f| %>
					  <%= devise_error_messages! %>

                      <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
                        <%= f.label :email %><br />
					      <%= f.email_field :email, :autofocus => true , :placeholder=>"Escreva aqui o seu email"%>
                       </div>

					  <div class="btn btn-large"><%= f.submit "Envia e recupera a tua password" %></div>
				<% end %>
                
                <div class='regist_form_regist_items text-center'>
              <%= render "devise/shared/links"  %>
            </div>
               
        
	
	
</div>