<div class=" col-md-8 regist_form text-center">
    <h2>Esqueceu-se da password?</h2>
    <p>Escreva o seu email e siga as instruções.</p>

    <%= form_for(resource, :as => resource_name, id: "request_password", :url => password_path(resource_name), :html => { :method => :post}) do |f| %>

      <div class="control-group">
        <div class="controls" style="text-align: left">
          <%= f.email_field :email, :autofocus => true , class:"form-control", :placeholder=>"Escreva aqui o seu email"%>
        </div>
      </div>

      <%= f.submit "Recuperar password",class: "btn btn-lg btn-primary btn-block" %>

        <% if @user.errors.any? %>
            <%= render "layouts/error_message" %>
        <% end %>

    <% end %>
    <div class="left-section">
        <%= render "devise/shared/links"  %>
    </div>
</div>