<%= form_for(@academy_workshop) do |f| %>
  <% if @academy_workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@academy_workshop.errors.count, "error") %> prohibited this academy_workshop from being saved:</h2>

      <ul>
      <% @academy_workshop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :available_slots %><br>
    <%= f.number_field :available_slots %>
  </div>
  <div class="field">
    <%= f.label :slots_taken %><br>
    <%= f.number_field :slots_taken %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :local %><br>
    <%= f.text_field :local %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :is_delected %><br>
    <%= f.number_field :is_delected %>
  </div>
  <div class="field">
    <%= f.label :requires_registration %><br>
    <%= f.number_field :requires_registration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
