<% if flash[:notice] %>
  <script> showNotify("<%= flash[:notice] %>","success") </script>
<% end %>
<% if flash[:error] %>
  <script> showNotify("<%= flash[:error] %>","error") </script>
<% end %>

<ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
  <li class="active">
    <i class="fa fa-book"></i> Academia >
    <a class="url" href="<%= academy_workshops_path %>"> Workshops</a>
  </li>
  <% if user_signed_in? %>
    <%= link_to '<i class="fa fa-plus"></i>Novo Workshop'.html_safe, new_academy_workshop_path,:class=> "url", style:"float:right" %>
  <% end %>
</ol>

<div class="row">
  <div class="panel">

    <table class="table table-hover">
      <thead>
        <tr class="table-head-background">
          <th width="10%" class="tutorial_text_head">UTILIZADOR</th>
          <th width="25%" class="tutorial_text_head">WORKSHOP</th>
          <th width="35%" class="tutorial_text_head">DESCRIÇÃO</th>
          <th width="13%" class="tutorial_text_head">LOCAL</th>
          <th width="17%" class="tutorial_text_head">DATA</th>
        </tr>
      </thead>

      <tbody>

        <% @academy_workshops.each do |academy_workshop| %>


          <tr class="tutorial_table_body">
            <td style="vertical-align:middle;">
              <div class="media" style="position:relative; left:50%; margin-left:-25px;">
                <%= link_to (image_tag academy_workshop.user.avatar.url(:medium), :width => '50', :height => '50',:class => "img-circle pull-left"), academy_workshop.user %>
              </div>
            </td>
            <td style="vertical-align:middle;" onmouseover="this.style.cursor='pointer'" onclick="document.location='<%= academy_workshop_path(academy_workshop.id) %>'"><%= academy_workshop.title %></td>
            <td style="vertical-align:middle;" onmouseover="this.style.cursor='pointer'" onclick="document.location='<%= academy_workshop_path(academy_workshop.id) %>'"><%= academy_workshop.description.html_safe %></td>
            <td style="vertical-align:middle;" onmouseover="this.style.cursor='pointer'" onclick="document.location='<%= academy_workshop_path(academy_workshop.id) %>'"><%= academy_workshop.local %></td>
            <td style="vertical-align:middle;" onmouseover="this.style.cursor='pointer'" onclick="document.location='<%= academy_workshop_path(academy_workshop.id) %>'"><%= academy_workshop.date.strftime('%d-%m-%Y %H:%M') %></td>
          </tr>

        <% end %>

      </tbody>
    </table>

  </div>
</div>