<ol class="breadcrumb" id="breadcrumbAds">
  <li class="active">
    <a class="url" href="<%= academy_workshops_path %>"><i class="fa fa-tags"></i> Workshops</a>
    <a class="url" href="<%= event_event_path(@academy_workshop.id) %>"> > <%= @academy_workshop.title %></a></li>
  <div style="float:right">
    <% if user_signed_in? %>
        <%= link_to 'Novo Workshop', new_academy_workshop_path,:class=> "url"%>
    <% end %>
  </div>
</ol>

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @academy_workshop.user_id %>
</p>

<p>
  <strong>Available slots:</strong>
  <%= @academy_workshop.available_slots %>
</p>

<p>
  <strong>Slots taken:</strong>
  <%= @academy_workshop.slots_taken %>
</p>

<p>
  <strong>Price:</strong>
  <%= @academy_workshop.price %>
</p>

<p>
  <strong>Local:</strong>
  <%= @academy_workshop.local %>
</p>

<p>
  <strong>Date:</strong>
  <%= @academy_workshop.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @academy_workshop.description %>
</p>


<p>
  <strong>Requires registration:</strong>
  <%= @academy_workshop.requires_registration %>
</p>

<%= link_to 'Edit', edit_academy_workshop_path(@academy_workshop) %> |
<%= link_to 'Back', academy_workshops_path %>

<%= render :partial =>"academy/workshop_registrations/inscriptions" %>

<div class="text-center">
      <button class="demo btn btn-primary" data-toggle="modal" href="#responsive">Inscrever-se no Workshop</button>
</div>



<!-- MODAL -->
<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title"></h4>
</div>

  <div class="modal-body">
           <div class="row" id="post-review-box" >
                <div class="col-md-12">
                    <%= render :partial =>"academy/workshop_registrations/form" %>
                </div>
            </div>
  </div>
  
</div>
<!-- FIM MODAL -->
