<!DOCTYPE html>
<html>
<head>
  <title>Agrosocial</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>


  <%= stylesheet_link_tag "bootstrap","sessions","data-turbolinks-track" => true %>
  <%= javascript_include_tag  "jquery","jquery_ujs","jquery.fancybox","turbolinks","session","data-turbolinks-track" => true %>

  <link rel="shortcut icon" href="">
  <!--Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
</head>

<body>
     
  <%= render "devise/sessions/header"%>

  <!-- _______________________Slogan___________________ -->

  <div id="login_body"  data-slide="1" class="bgParallax slide teste" data-speed="15">

      <div class="vert-text">


        <div class="col-slogan">

              <h1 class="login-title"> AgroSocial </h1>
              <h4 class="login-slogan">A SEMENTE DO SEU NEGÓCIO</h4>
              
        </div>
            
             
      </div>
      

      <div class="next_section_button" id="next" data-slide="2" style="margin-bottom: 0px;"> </div>

      <div class="prev_section_button" id="prev" data-slide="2" style="margin-bottom: 0px;"> </div>
  </div>

  <!-- ________________________ Section Information ___________________________________ -->

  <div id="login_body_image" data-slide="2" class="bgParallax slide img-responsive" data-speed="10">
  </div>

  <div id="section_negocio" class="login_section_information slide teste img-responsive" data-slide="2"  data-speed="10">

 <section class="panel">
        <div class="panel-body">
          <div class="col-md-5 text-center">
             <div class="service-item">
                                    
                                    
                                    <a class="frame" data-fancybox-type="iframe" href="http://www.youtube.com/embed/RetFcjbzInY?autoplay=1">
                                      <i class="service-icon icon-shopping-cart"></i>
                                    </a>
             </div>

          </div>
          <div class="col-sm-7">
                <div class="information">

                                                <h1>Negócio</h1>
                                                <br/>
                                                <h4>
                                                  Encontre o melhor preço para o produto que procura ou divulgue os seus produtos a uma vasta comunidade.
                                                </h4>
                                      
                  </div>
          </div>
        </div>

    </section>

      
</div>

<div id="login_body_image2" class="bgParallax" data-speed="15">
</div>

<div id="section_emprego" class="login_section_information slide teste" data-slide="2" data-speed="20">


    <section class="panel">
        <div class="panel-body">
          <div class="col-md-5 text-center">
             <div class="service-item">
                                    
                                    
                                    <a class="frame" data-fancybox-type="iframe" href="http://www.youtube.com/embed/XMkeeZgHY14?autoplay=1">                    
                                     <i class="service-icon icon-male"></i>
                                     </a>
             </div>

          </div>
          <div class="col-sm-7">
                <div class="information">

                                                <h1>Emprego</h1>
                                    <br/>
                                    <h4>
                                      Encontre um emprego à medida das suas capacidades ou a mão de obra que precisa para aquela tarefa específica.
                                    </h4>
                                
                                      
                  </div>
          </div>
        </div>

    </section>
      
     
  </div>


  <div id="login_body_image3" class="bgParallax" data-speed="15">
  </div>

  <div id="section_conhecimento" class="login_section_information slide teste" data-slide="2" data-speed="10">


    <section class="panel">
        <div class="panel-body">
          <div class="col-md-5 text-center">
             <div class="service-item">
                                    
                                    
                                     <a class="frame" data-fancybox-type="iframe" href="http://www.youtube.com/embed/yCn7XZVuRDg?autoplay=1">
                                     <i class="service-icon icon-group"></i>
                                     </a>
             </div>

          </div>
          <div class="col-sm-7">
                <div class="information">

                                                <h1>Conhecimento</h1>
                                    <br/>
                                    <h4>
                                      Participe em workshops ou siga técnicos especializados na nossa academia. Partilhe conhecimento na sua área de interesse.
                                    </h4>
                                      
                  </div>
          </div>
        </div>

    </section>
      
     
  </div>

  <div id="login_body_image4" class="bgParallax" data-speed="15">
  </div>

  <div id="section_divulgacao" class="login_section_information slide teste" data-slide="2"  data-speed="10">
      
       <section class="panel">
        <div class="panel-body">
          <div class="col-md-5 text-center">
             <div class="service-item">
                                    
                                    
                                      <a class="frame" data-fancybox-type="iframe" href="http://www.youtube.com/embed/irLwbREnL54?autoplay=1">         
                                     <i class="service-icon icon-bullhorn"></i>
                                      </a>
             </div>

          </div>
          <div class="col-sm-7">
                <div class="information">

                                   <h1>Divulgação</h1>
                                    <br/>
                                    <h4>
                                      Divulgue a sua empresa, negócio ou produtos facilmente e a quem realmente interessa.
                                    </h4>
                                      
                  </div>
          </div>
        </div>

    </section>

     
  </div>

  <div id="login_body_image5" class="bgParallax" data-speed="15">
  </div>

<div id="section_participacao" class="login_section_information slide teste" data-slide="2"  data-speed="10">
      
       <section class="panel">
        <div class="panel-body">
          <div class="col-md-5 text-center">
             <div class="service-item">
                                    
                                    
                                     <a class="frame" data-fancybox-type="iframe" href="http://www.youtube.com/embed/D5seyeETouQ?autoplay=1">
                                                      
                                     <i class="service-icon icon-calendar-empty"></i>
             </div>

          </div>
          <div class="col-sm-7">
                <div class="information">

                                    <h1>Participação</h1>
                                          <br/>
                                          <h4>
                                            Crie, promova e participe em eventos sociais ou profissionais.
                                          </h4>
                                      
                  </div>
          </div>
        </div>

    </section>

     
  </div>
  <!-- ________________________ Section Video ___________________________________ -->

  <div id="login_body_show" data-slide="2" class="bgParallax slide" data-speed="10">
  
  </div>

  <div id="login_section_video" data-slide="2" class="slide teste" data-speed="10">

      <div id="section-video" data-auto-size="0.6" >
            <div id="top" class="header scroller">
                  <div class="vert-text">
                      <h1>AgroSocial</h1>
                      <br>
                      <h2>A semente do seu negócio</h2>

                      <!--<a href="#services" class="btn btn-flat-white btn-bordered btn-lg up">Mais informações</a>-->
                      <ul class="list-inline">
                        <li><a href="https://www.facebook.com/386752774760741" target="_blank"><div id="facebook"></div></a></li>
                        <li><a href="https://plus.google.com" target="_blank"><div id="gplus"></div></a></li>
                        <li><a href="https://twitter.com/agro_social" target="_blank"><div id="twitter"></div></a></li>
                        <li><a href="https://agrosocial.pt" target="_blank"><div id="contact"></div></a></li>
                      </ul>
                      <div id="copyright">Agrosocial&copy 2013</div>
                      <p></p>

                      <a class="frame" data-fancybox-type="iframe" href="http://www.youtube.com/embed/ZLLiPwPsfjU?autoplay=1">
                      Click Aqui 
                      </a>
                     

                  </div>
                 
            </div>

         
     </div>
</div>


<!-- ________________________ Section Regist ___________________________________ -->

<div id="login_body_regist" class="bgParallax" data-speed="10">
</div>

<div id="login_section_regist" class="teste" data-speed="10">

    <section id="section-regist" data-auto-size="0.6" >

             <div class="row allpocket">
                      <div class="pricing-table">
                          <div class="pocket_bronze plan col-xs-6 col-md-6 panel">
                            <div class="panel-title plan-name-bronze">
                              <h2>Horta</h2>
                              <span>3,99 € / 6 Meses</span>
                            </div>
                              <div class="panel-body text-center">


                                  <h4 class="section_regist_text"> <span class="section_regist_text">Anuncios :  </span> 5 Slots</h4>
                                  <h4 class="section_regist_text"> <span class="section_regist_text">Eventos : </span> 1 Slot</h4>
                                  <h4><a href="#" class="btn btn-default"><i class="icon-white icon-ok"></i> Compre Aqui </a></h4>
                                    
                              </div>
                          </div>
                          <div class="pocket_silver plan col-xs-6 col-md-6 ">
                            <div class="panel-title plan-name-silver">
                              <h2>Quinta</h2>
                              <span>7.49 € / 6 Meses </span>
                            </div>
                                <div class="panel-body text-center">

                                    <h4 class="section_regist_text"><span >Anuncios :  </span> 10 Slots</h4>
                                    <h4 class="section_regist_text"><span >Eventos : </span> 2 Slot</h4>
                                    <h4><a href="#" class="btn btn-default"><i class="icon-white icon-ok"></i> Compre Aqui </a></h4>
                                 
                                </div>
                          </div>
                          <div class="pocket_gold plan col-xs-6 col-md-6 ">
                                  <div class="plan-name-gold panel-title">
                                    <h2>Herdade</h2>
                                    <span>13.99 € / 6 Meses</span>
                                  </div>
                                 <div class="panel-body text-center">

                                    <h4 class="section_regist_text"><span >Anuncios : </span>  20 Slots</h4>
                                    <h4 class="section_regist_text"><span >Eventos : </span> 4 Slot</h4>
                                    <h4 class="section_regist_text"><span >Estatisticas : </span> Gratis</h4>
                                    <h4 class="plan-feature"><a href="#" class="btn btn-default"> Compre Aqui </a></h4>
                                </div>
                          </div>
                      </div>
              </div>    
      </section>
</div>

<%= render 'layouts/footer' %>


</body>
</html>


