<!DOCTYPE html>
<html>
<head>
  <title>Agrosocial</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>


  <%= stylesheet_link_tag "bootstrap","sessions","data-turbolinks-track" => true %>
  <%= javascript_include_tag  "jquery","jquery_ujs","jquery.fancybox","turbolinks","session","data-turbolinks-track" => true %>

  <link rel="shortcut icon" href="">
  <!--Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
</head>

<body>
     
  <%= render "devise/sessions/header"%>

  <!-- _______________________Slogan___________________ -->

  <div id="login_body2"  data-slide="1" class="bgParallax slide teste" data-speed="15">

    <div class="next_section_button" id="next" data-slide="2" style="margin-bottom: 0px;"> </div>
    <div class="prev_section_button" id="prev" data-slide="2" style="margin-bottom: 0px;"> </div>

  </div>



  <!-- ________________________ Section Information ___________________________________ -->
  

   <div id="login_body_image" data-slide="2" class="bgParallax slide img-responsive" data-speed="10">
   </div>


   <!-- ________________________ Section Video ___________________________________ -->

   <div id="login_section_video" data-slide="2" class="slide teste" data-speed="10">

      <div id="section-video" data-auto-size="0.6" >
            <div id="top" class="header scroller">
                  <div class="vert-text">
                      <h1>AgroSocial</h1>
                      <br>
                      <h2>A semente do seu negócio</h2>

                      <!--<a href="#services" class="btn btn-flat-white btn-bordered btn-lg up">Mais informações</a>-->
                      <ul class="list-inline">
                        <li><a href="https://www.facebook.com/386752774760741" target="_blank"><div id="facebook"></div></a></li>
                        <li><a href="https://plus.google.com" target="_blank"><div id="gplus"></div></a></li>
                        <li><a href="https://twitter.com/agro_social" target="_blank"><div id="twitter"></div></a></li>
                        <li><a href="https://agrosocial.pt" target="_blank"><div id="contact"></div></a></li>
                      </ul>

                      <div id="copyright">Agrosocial&copy 2013</div>
                      <p></p>

                      <a class="frame" data-fancybox-type="iframe" href="http://www.youtube.com/embed/ZLLiPwPsfjU?autoplay=1">
                      Click Aqui 
                      </a>
                     

                  </div>
                 
            </div>

         
     </div>
   </div>

   <div id="login_body_image2" class="bgParallax" data-speed="15">
   </div>

  <div id="section_emprego" class="login_section_information slide teste" data-slide="2" data-speed="20">


            <div id="services" class="services">
              <div class="container">
                <div class="vert-text">
                  <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                      <h2>O que fazemos</h2>
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2 col-md-offset-1 text-center">
                      <div class="service-item">
                        <a class="frame" data-fancybox-type="iframe" href="http://www.youtube.com/embed/RetFcjbzInY?autoplay=1">
                          <i class="service-icon icon-shopping-cart"></i>
                        </a>
                        <h4>Negócio</h4>
                        <p>Encontre o melhor preço para o produto que procura ou divulgue os seus produtos a uma vasta comunidade.</p>
                      </div>
                    </div>
                    <div class="col-md-2 text-center">
                      <div class="service-item">
                        <a class="frame" data-fancybox-type="iframe" href="http://www.youtube.com/embed/XMkeeZgHY14?autoplay=1">
                          <i class="service-icon icon-male"></i>
                        </a>
                        <h4>Emprego</h4>
                        <p>Encontre um emprego à medida das suas capacidades ou a mão de obra que precisa para aquela tarefa específica.</p>
                      </div>
                    </div>
                    <div class="col-md-2 text-center">
                      <div class="service-item">
                        <a class="frame" data-fancybox-type="iframe" href="http://www.youtube.com/embed/yCn7XZVuRDg?autoplay=1">
                          <i class="service-icon icon-group"></i>
                        </a>
                        <h4>Conhecimento</h4>
                        <p>Participe em workshops ou siga técnicos especializados na nossa academia. Partilhe conhecimento na sua área de interesse.</p>
                      </div>
                    </div>
                    <div class="col-md-2 text-center">
                      <div class="service-item">
                        <a class="frame" data-fancybox-type="iframe" href="http://www.youtube.com/embed/irLwbREnL54?autoplay=1">
                          <i class="service-icon icon-bullhorn"></i>
                        </a>
                        <h4>Divulgação</h4>
                        <p>Divulgue a sua empresa, negócio ou produtos facilmente e a quem realmente interessa.</p>
                      </div>
                    </div>
                    <div class="col-md-2 text-center">
                      <div class="service-item">
                        <a class="frame" data-fancybox-type="iframe" href="http://www.youtube.com/embed/D5seyeETouQ?autoplay=1">
                          <i class="service-icon icon-calendar-empty"></i>
                        </a>
                        <h4>Participação</h4>
                        <p>Crie, promova e participe em eventos sociais ou profissionais.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


  </div>

  <div id="login_body_image3" class="bgParallax" data-speed="15">
  </div>

  <div id="login_section_regist" class="teste" data-speed="10">

    <section id="section-regist" data-auto-size="0.6" >

             <div class="row">
                <%= render "plans" %>
              </div>    
      </section>
    </div>
<%= render 'layouts/footer' %>
</body>
</html>


