<h1>Listing plams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Price</th>
      <th>Ads limit</th>
      <th>Event limit</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plams.each do |plam| %>
      <tr>
        <td><%= plam.name %></td>
        <td><%= plam.duration %></td>
        <td><%= plam.price %></td>
        <td><%= plam.ads_limit %></td>
        <td><%= plam.event_limit %></td>
        <td><%= link_to 'Show', plam %></td>
        <td><%= link_to 'Edit', edit_plam_path(plam) %></td>
        <td><%= link_to 'Destroy', plam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plam', new_plam_path %>
