<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plam.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @plam.duration %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plam.price %>
</p>

<p>
  <strong>Ads limit:</strong>
  <%= @plam.ads_limit %>
</p>

<p>
  <strong>Event limit:</strong>
  <%= @plam.event_limit %>
</p>

<%= link_to 'Edit', edit_plam_path(@plam) %> |
<%= link_to 'Back', plams_path %>
