<%= form_for @rating, :html => {:multipart => true} do |f| %>

	<div class="container">
		<div class="row">
			<h2>Rater: <%= @rating.rater.name %> - Rated: <%= @rating.rated.name %></h2>
		</div>
	    <div class="row lead">
	        Tu deste um rating de <span id="count">0</span> cenoura(s)
	        <div id="stars" class="starrr" onclick="javascript:send_rating()" value="5"></div>
		</div>
	</div>

	<div hidden="false">
		<%= f.label :rate %><br>
		<%= f.text_field :rate %>
	</div>

	<br>
	<br><br><br><br><br>
	<div id="comment_rating" class="field" hidden="true">
	  <%= f.label :commet %><br>
	  <%= f.text_area :comment,:id => "text_comment_rating",:rows=>5,:class=> "form-control counted" ,:placeholder => "Escreve a tua mensagem"%>
	  <h6 class="pull-right" id="counter">144 characteres livres</h6>

		</div>

	<div class="actions">
		<%= f.submit "Submeter" %>
	</div>

<% end %>