
<section class="panel">
  <header class="panel-heading"><h1>Tutoriais por aprovar</h1><h5><%= @unaproved_tutorials.count %> Tutoriais</h5> 
  </header>
<div class="table-responsive">
  <table class="table table-hover tablesorter" id="orderTable" >
  <thead>
	<tr>
		<th>ID</th>
		<th>Autor</th>
		<th>Título</th>
		<th>Resumo</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<% @unaproved_tutorials.each do |uap_tutorial| %>
			<tr>
				<td><%= uap_tutorial.id %></td>
				<td><%= uap_tutorial.user.name %></td>
				<td><%= uap_tutorial.title %></td>
				<td><%= uap_tutorial.rapid_description.truncate(25).html_safe %></td>
				<td><%= link_to 'Ver', admin_academy_tutorial_path(uap_tutorial.id) %> </td>
				<td><%= link_to 'Aprovar' , admin_aprove_tutorial_path(:id_aprove => uap_tutorial.id)%></td>
				<td><%= link_to 'Eliminar', [:admin, uap_tutorial], method: :delete, data: { confirm: 'Tem a certeza?' } %></td>

				<td></td>

			</tr>
	<% end %>
	</tbody>
</table>
</div>
</section>


<section class="panel">
  <header class="panel-heading"><h1>Tutoriais aprovados</h1><h5><%= @aproved_tutorials.count %> Tutoriais</h5> 
  </header>
<div class="table-responsive">
  <table class="table table-hover tablesorter" id="orderTable" >
    <thead>

	<tr>
		<th>ID</th>
		<th>Autor</th>
		<th>Título</th>
		<th>Resumo</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
		</thead>
	<tbody>
	<% @aproved_tutorials.each do |ap_tutorial| %>
			<tr>
				<td><%= ap_tutorial.id %></td>
				<td><%= ap_tutorial.user.name %></td>
				<td><%= ap_tutorial.title %></td>
				<td><%= ap_tutorial.rapid_description.truncate(25).html_safe %></td>
				<td><%= link_to 'Ver', admin_academy_tutorial_path(ap_tutorial.id) %> </td>
				<td><%= link_to 'Editar',edit_admin_academy_tutorial_path(ap_tutorial.id) %> </td>
				<td><%= link_to 'Eliminar', [:admin, ap_tutorial], method: :delete, data: { confirm: 'Tem a certeza?' } %></td>

			</tr>
	<% end %>
	</tbody>
</table>
</div>
</section>