

<section class="panel">
  <header class="panel-heading"><h1>Lista de Perguntas</h1><h5><%= @admin_academy_questions.count %> Perguntas</h5> 
  <div class="newItemLink">
<!--i class="fa fa-plus-circle"></i--><%# link_to ' Nova pergunta', new_admin_academy_question_path %>
  </div>
  </header>


<div class="table-responsive">
  <table class="table table-hover tablesorter" id="orderTable" >
      <thead>
  <tr>
    <th>ID</th>
    <th>Pergunta</th>
    <th>ID Autor</th>
    <th>Categoria</th>
    <th>Respostas</th>
    <th>Criado em</th>
  </tr>
  </thead>

  <tbody>
  <% @admin_academy_questions.each do |admin_academy_question| %>

  <tr>
    <td><%= admin_academy_question.id %></td>
    <td><%= admin_academy_question.title %></td>
    <td><%= admin_academy_question.user_id %></td>
    <td>
      <% if admin_academy_question.category %>
      <span class="label" style="background-color: #<%= admin_academy_question.category.color %>">
        <%= admin_academy_question.category.name %>
      </span>

      <% else %>
      <span class="label label-default" >
        Sem Categoria
      </span>
      <% end %>
    </td>
    <td><%= admin_academy_question.answers.count %></td>
    <td><%= I18n.l admin_academy_question.created_at ,:format => :time %></td>
    <td><%= link_to 'Ver', admin_academy_question, :target => '_blank' %></td>
    <td><%# link_to 'Editar', edit_admin_academy_question_path(admin_academy_question) %></td>
    <td><%= link_to 'Apagar', admin_academy_question, method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
  </tr>
  <% end %>
  </tbody>
</table>

</div>
</section>

<!--i class="fa fa-plus-circle"></i--><%# link_to ' Nova pergunta', new_admin_academy_question_path %>


