<section class="panel">
  <header class="panel-heading"><h1>Lista de cidades</h1></header>
<div class="table-responsive">
  <table class="table table-hover" >
  <thead>
    <tr>
      <th>Cidade</th>
      <th>País</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.city %></td>
        <td><%= city.country_id %></td>
        <!--td><%= link_to 'Ver', [:admin,city] %></td-->
        <td><%= link_to 'Editar', edit_admin_city_path(city) %></td>
        <td><%= link_to 'Eliminar', [:admin,city], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nova cidade', new_admin_city_path %>

</section>
