<p id="notice"><%= notice %></p>

<p>
  <strong>Cidade:</strong>
  <%= @city.city %>
</p>

<p>
  <strong>País:</strong>
  <%= @city.country_id %>
</p>

<%= link_to 'Editar', edit_admin_city_path(@city) %> |
<%= link_to 'Voltar', admin_cities_path %>
