<%= form_for(@academy_question,:html => {:multipart => true,:id=>"question_form"}) do |f| %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
<div class="panel panel-default" style="margin-bottom:0; min-height:400px;">
    <div class="panel-heading">
      <% if controller.action_name == "edit" %>
          <h3 class="panel-title">Editar Pergunta</h3>
      <% else %>
          <h3 class="panel-title">Nova Pergunta</h3>
      <% end %>
    </div>
    <div class="panel-body" id="edit-question" style="margin-bottom: 50px;">

    <div class="control-group">
      <label class="control-label"> Categoria</label><label class="help-inline" style="margin-left:10px" generated="true" for="academy_question_category_id"></label>
      <div class="controls">
        <%= f.collection_select(:category_id,@categories,:id,:name, :include_blank => 'Escolha uma categoria',:title=>"Selecione a categoria que melhor se enquadra a sua questão.") unless @categories.blank?%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :title, "Título",:class=>"control-label" %><label class="help-inline" style="margin-left:10px" generated="true" for="academy_question_title"></label>
      <div class="controls">
        <%= f.text_field :title,:placeholder => "Título da pergunta..." ,:class=>"form-control",:rel=>"tooltip",:title=>"Escreva o título da sua pergunta..." %>
      </div>
    </div>

    <div class="control-group" style="margin-bottom: 20px;">
      <%= f.label :text, "Pergunta",:class=>"control-label" %><label class="help-inline" style="margin-left:10px" generated="true" for="academy_question_text"></label>
      <div class="controls">
        <%= f.text_area :text, :placeholder => "Escreva a sua pergunta..." , :id => "some-textarea", :class=>"form-control",:rel=>"tooltip",:title=>"Explique de forma clara e sucinta a sua pergunta..." %>
      </div>
    </div>

  <%#  butao de submit, tanto para editar como criar respetivamente  %>
    <div class="panel-footer" id="buttons-question">
      <div class="fields">
        <% if action_name == "edit" %>
        <%= link_to '<span class="icon-arrow-left" style="margin-right: 5px;"></span>Voltar'.html_safe, academy_question_path(params[:id]), class: "btn btn-primary" %>
        <% else %>
        <%= link_to '<span class="icon-arrow-left" style="margin-right: 5px;"></span>Voltar'.html_safe, academy_questions_path, class: "btn btn-primary" %>
        <% end %>
        <div class="actions" style="float:right">
          <div class="actions" style="float:right">
            <% if controller.action_name == "edit" %>
                <%= f.submit "Editar Pergunta", :class=>"btn btn-primary" %>
            <% else %>
                <%= f.submit "Publicar Pergunta" , :class=>"btn btn-primary"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if @academy_question.errors.any? %>
        <div id="error_explanation">
          <h2>Os seguintes erros impediram o envio do formulário:</h2>
          <ul>
            <% @academy_question.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    </div>
  </div>
<% end %>
