
<div class="col-lg-12">
  <section class="panel">
    <header class="panel-heading border-header">
      <div class="pull-right">

        <%##  botão verde com um lapis para editar a pergunta  ##%>
        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe , edit_academy_question_path(@academy_question), :class => "btn btn-primary btn-xs" if @academy_question.user.id == current_user.id %>

        <%##  botão vermelho com um caixote para eliminar a pergunta  ##%>
        <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, @academy_question, method: :delete, :class => "btn btn-danger btn-xs" if @academy_question.user.id == current_user.id %>

      </div>

      <div class="" >
        <h3> <%= @academy_question.title %> </h3>
      </div>
    </header>

    <div class="panel-body">
      <div class="col-xs-2 col-md-2"><%##  Avatar do user que fez a pergunta  ##%>
        <%=link_to image_tag(@academy_question.user.avatar.url(:medium),:width => "70%",:class => "img-circle") , @academy_question.user %>

      </div>

      <div class="col-xs-9 col-md-10 ">
        <%= @academy_question.text.html_safe %><%##  texto da pergunta  ##%>
      </div>


    </div>
    <div class="panel-footer">
        &nbsp;
       <span class="label pull-left" style="background-color: #<%= @academy_question.category.color %>">
        <%= @academy_question.category.name %>
       </span>

        <div class="pull-right">
              <abbr class="timeago" title="<%= @academy_question.created_at.getutc.iso8601 %>">
                <%= @academy_question.created_at.to_s %>
              </abbr>
        </div>

    </div>
  </section>
</div>