<ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
  <li class="active">
    <i class="fa fa-book"></i> Academia >
    <a class="url" href="<%= academy_questions_path %>">Perguntas</a> >
    <a class="url" href="<%= academy_question_path(@academy_question.id) %>"><%= @academy_question.title %></a>
  </li>
  <% if user_signed_in? %>
    <%= link_to '<i class="fa fa-plus"></i>Nova Pergunta'.html_safe, new_academy_question_path,:class=> "url", style:"float:right"%>
  <% end %>
</ol>


<section class="panel" style="border: 1px solid #dddddd;">
  <header class="panel-heading border-header" style="vertical-align:middle; background-color:#f5f5f5; border-bottom: 1px solid #dddddd;">
    <span class="label pull-left" style="background-color: #<%= @academy_question.category.color %>">
      <%= @academy_question.category.name %>
    </span>
    <span style="float:right;">
      <% if user_signed_in? && current_user.id == @academy_question.user_id %>
      <%= link_to '<i class="fa fa-edit"></i>Editar '.html_safe, edit_academy_question_path(@academy_question), class:'no-effect', :tile=> "Editar Pergunta" %>
      <%= link_to '<i class="fa fa-trash-o"></i>Eliminar '.html_safe, @academy_question, class:'no-effect', method: :delete, data: { confirm: 'Tem a certeza que quer apagar a sua pergunta?' } ,:tile=> "Apagar Pergunta"%>
      <% end %>
    </span>
    <br>
    <h3>
      <%= @academy_question.title %>
    </h3>
  </header>

  <div class="panel-body" id="panel-question">
    <div class="col-xs-2 col-md-2" id="user-avatar"><%##  Avatar do user que fez a pergunta  ##%>
      <div>
        <%=link_to image_tag(@academy_question.user.avatar.url(:medium),:width => "70%",:class => "img-circle") , @academy_question.user %>
      </div>
      <div style="float:center;">
        <%= get_first_last_name(@academy_question.user.name) %>
      </div>
    </div>
    <div class="col-xs-9 col-md-10">
      <%= @academy_question.text.html_safe %><%##  texto da pergunta  ##%>
    </div>
  </div>

  <div class="panel-footer">
    <div class="pull-left" style="width">
      <div class="fb-share-button sharebutton" data-href="<%= academy_question_url(@academy_question) %>" data-type="button"></div>
      <div class="sharebutton"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none"
        data-url="<%= academy_question_url(@academy_question) %>"
        data-hashtags="AgroSocial"
        data-text="<%= 'Pergunta - ' + @academy_question.title %>"
      >Tweet</a></div>
      <div class="g-plus" data-action="share" data-annotation="none"></div>
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
    </div>
    &nbsp;
    <div class="pull-right">
      <abbr class="timeago" title="<%= @academy_question.created_at.getutc.iso8601 %>">
        <%= @academy_question.created_at.to_s(:db) %>
      </abbr>
    </div>
  </div>
</section>