<ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
  <li class="active">
    <i class="fa fa-book"></i> Academia >
    <a class="url" href="<%= academy_questions_path %>"> Perguntas</a> >
    <a class="url" href="<%= academy_questions_path(@academy_question.id) %>"> <%= @academy_question.title %></a>
  </li>
  <% if user_signed_in? %>
    <div class="pull-right">
      <%= link_to '<i class="fa fa-plus"></i>Nova Pergunta'.html_safe, new_academy_question_path,:class=> "new-question" %>
    </div>
  <% end %>
</ol>

<%= render 'form' %>