<div class="well well-sm">
        <strong>Meter Filtros</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
              <span class="fa fa-th-list"></span>
              Respondidas</a>
              <a href="#" id="grid" class="btn btn-default btn-sm">

              <span class="fa fa-th"></span>Activas</a>
              <a href="#" id="grid" class="btn btn-default btn-sm">
              <span class="fa fa-truck"></span>Outras</a>

        </div>
 </div>
<hr />
<div class="panel-heading">
  <h4>Perguntas feitas:</h4>
</div>

<div class="panel panel-default">
<%###  categoria | view counter | respostas | Titulo | utilizador | link para a pergunta |  ###%>
<table>
    <% @academy_questions.each do |academy_question| %>
      <tr>
        <td><%= academy_question.category.name %></td>
        <td>view Counter</td>
        <td><%= academy_question.answers.count %></td>
        <td><%= academy_question.title %></td>
        <td><%= academy_question.user.name %></td>
        <td><%= link_to 'Show', academy_question %></td>
      </tr>
    <% end %>
</table>
</div>
<br>



<%= link_to 'Nova questão', new_academy_question_path %>
<legend>Questoes em Thumnails( meter isto direito) </legend>

<div class="row">
       
      <% @academy_questions.each do |academy_question| %>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">

                      <div class="col-xs-5 col-md-5"><%##  Avatar do user que fez a pergunta  ##%>
                       <%= link_to (image_tag academy_question.user.avatar.url(:medium),:width => "100%",:class => "img-circle"), academy_question.user %>
                    </div>

                    <div class="col-xs-12 col-md-12 ">
                      <%= academy_question.text %><%##  texto da pergunta  ##%>
                     
                    </div>
                    
                      <div class="caption">
                            <span class="label label-info">
                              <%= academy_question.category.name %>
                          </span>
                    
                      <p><i class="fa fa-map-marker"></i> <%= academy_question.text %></p>
                    </div>
              </div>
           </div>
          <% end %>
         
       
       
    </div>