<div class="well well-sm">
        <strong>Meter Filtros</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
              <span class="fa fa-th-list"></span>
              Respondidas</a>
              <a href="#" id="grid" class="btn btn-default btn-sm">

              <span class="fa fa-th"></span>Activas</a>
              <a href="#" id="grid" class="btn btn-default btn-sm">
              <span class="fa fa-truck"></span>Outras</a>

        </div>
 </div>
<hr />
<div class="panel-heading">
  <h4>Perguntas feitas:</h4>
</div>

<div class="panel panel-default">
<%###  categoria | view counter | respostas | Titulo | utilizador | link para a pergunta |  ###%>
<table>
    <% @academy_questions.each do |academy_question| %>
      <tr>
        <td><%= academy_question.category.name %></td>
        <td>view Counter</td>
        <td><%= academy_question.answers.count %></td>
        <td><%= academy_question.title %></td>
        <td><%= academy_question.user.name %></td>
        <td><%= link_to 'Show', academy_question %></td>
      </tr>
    <% end %>
</table>
</div>
<br>

<%= link_to 'Nova questão', new_academy_question_path %>
