<div class="well well-sm">
        <strong>Meter Filtros</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
              <span class="fa fa-th-list"></span>
              Respondidas</a>
              <a href="#" id="grid" class="btn btn-default btn-sm">

              <span class="fa fa-th"></span>Activas</a>
              <a href="#" id="grid" class="btn btn-default btn-sm">
              <span class="fa fa-truck"></span>Outras</a>

        </div>
 </div>

<h1>Listing academy_questions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Category</th>
      <th>Title</th>
      <th>Text</th>
      <th>Image url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @academy_questions.each do |academy_question| %>
      <tr>
        <td><%= academy_question.user_id %></td>
        <td><%= academy_question.category_id %></td>
        <td><%= academy_question.title %></td>
        <td><%= academy_question.text %></td>
        <td><%= academy_question.image_url %></td>
        <td><%= link_to 'Show', academy_question %></td>
        <td><%= link_to 'Edit', edit_academy_question_path(academy_question) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_academy_question_path %>
