
<%#  render da questão feita  %>
<%= render 'question' %>

<%#  Display all the answers  %>
<%#  needed to load the new answers without the need to reload  %>
<div id="answers">
  <%= render @academy_question.answers %>
</div>

<% if user_signed_in? %>
  <%= render "academy/answers/form", :question => @academy_question %>
<% else %>
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <div class="" >
          <p>Inicie sessão para poder responder: <%= link_to "Iniciar Sessão", new_user_session_path %> ou <%= link_to "Registar", new_user_registration_path %></p>
        </div>
      </header>
    </section>
  </div>
<% end %>

<%#= link_to 'Edit', edit_academy_question_path(@academy_question) %>
<%= link_to 'Voltar', academy_questions_path %>
