<% content_for :head do %>
  <!-- Facebook -->
  <meta property="og:title" content="<%= @academy_question.title %>"/>
  <meta property="og:image" content="http://teste94.di.uminho.pt/assets/defaultQuestion.png"/>
  <meta property="og:site_name" content="AgroSocial"/>
  <meta property="og:description" content="<%= @academy_question.text[0..70].gsub(/\s\w+\s*$/,'...') %>"/>
  <meta property="og:url" content="<%= academy_question_url(@academy_question) %>"/>
  <meta property="fb:app_id" content="547514635336381"/>
  <!-- Twitter -->
  <meta name="twitter:card" content="AgroSocial" />
  <meta name="twitter:title" content="<%= @academy_question.title %>" />
  <meta name="twitter:description" content="<%= @academy_question.text[0..70].gsub(/\s\w+\s*$/,'...') %>" />
  <meta name="twitter:image" content="http://teste94.di.uminho.pt/assets/defaultQuestion.png" />
  <!-- Google -->
  <meta name="description" content="<%= @academy_question.text[0..70].gsub(/\s\w+\s*$/,'...') %>" />
  <meta name="keywords" content="Pergunta" />
  <meta name="author" content="<%= @academy_question.user.name %>" />
  <meta name="copyright" content="© 2014 AGROSOCIAL. Todos os direitos reservados." />
  <meta name="application-name" content="AgroSocial" />
<% end %>

<%##  render the question  %>
<%= render 'question' %>

<%#  needed to load the new answers without the need to reload  %>
<%# Verifica se existe uma melhor resposta %>
<% if @best_answer != nil %>
<div class="col-lg-12" style="padding-left: 30px !important; padding-right: 0px !important;">
  <section class="panel panel-success" style="min-width:300px;">
    <header class="panel-heading" style="border-color: #dddddd !important;">
      <%= '<i class="fa fa-star"></i> Melhor Reposta'.html_safe %>
      <div class="pull-right">
        <%= link_to '<i class="fa fa-edit"></i>Editar '.html_safe , edit_academy_answer_path(@best_answer), :class => 'no-effect' if @best_answer.user.id == current_user.id %>
        <%= link_to '<i class="fa fa-trash-o"></i>Eliminar '.html_safe , @best_answer, method: :delete, data: { confirm: 'Tem a certeza que pretende eliminar a sua resposta?' }, :class => 'no-effect' if @best_answer.user.id == current_user.id %>
      </div>
    </header>
    <div class="panel-body" id="panel-question">
      <div class="col-xs-2 col-md-2" id="user-avatar"><%##  Avatar do user que respondeu  ##%>
        <div>
          <%=link_to image_tag(@best_answer.user.avatar.url(:medium),:width => "70%",:class => "img-circle"), @best_answer.user %>
        </div>
        <div style="float:center;">
          <%= get_first_last_name(@best_answer.user.name) %>
        </div>
      </div>

      <div class="col-xs-9 col-md-10 "><%##  texto da resposta  ##%>
        <%= @best_answer.text.html_safe %>
      </div>
    </div>

    <div class="panel-footer" id="answer-footer-vote">
      <%###  @best_answers votes  ###%>
      <%#  Verify if the user is logged or if is the @best_answer's owner %>
      <% if !user_signed_in? || current_user.id == @best_answer.user.id #if not logged or is the owner them cant vote %>

      <label class="label label-default" style="color: #468847; background-color: #DFF0D8; border: 1px solid #dddddd; font-size:15px;">
        +<%= @best_answer.up - @best_answer.down %>
      </label>

      <% else %>
      <span style="visibility: hidden; position:absolute;"><%= vote = @best_answer.which_vote?( current_user ) %></span>
      <!-- Answer Helper-->

      <span id="answer-votes">
        <%= link_to '<i id="up-vote" class="fa fa-thumbs-o-up fa-2x '.html_safe + up_vote?( vote ) +'"></i>'.html_safe, academy_up_vote_path(:answer => @best_answer), :title => "Dá mais um ponto a esta resposta." %>
        <!-- HELPER -->
        <% if @best_answer.up - @best_answer.down > 0 %>
          <span id="positive-count" style="color: #468847;">+<%= @best_answer.up - @best_answer.down %></span>
        <% elsif @best_answer.up - @best_answer.down < 0 %>
          <span id="negative-count" style="color: #660000;"><%= @best_answer.up - @best_answer.down %></span>
        <% else %>
          <span id="neutral-count" style="color: gray;"><%= @best_answer.up - @best_answer.down %></span>
        <% end %>

        <%= link_to '<i id="down-vote" class="fa fa-thumbs-o-down fa-2x '.html_safe + down_vote?( vote ) +'"></i>'.html_safe, academy_down_vote_path(:answer => @best_answer), :title => "Dá menos um ponto a esta resposta."  %>
      </span>
      <% end %>
      <%###  end of answers votes  ###%>

      <div class="pull-right">
        <abbr class="timeago" title="<%= @best_answer.created_at.getutc.iso8601 %>">
          <%= @best_answer.created_at.to_s %>
        </abbr>
      </div>
    </div>
  </section>
</div>
<% end %>

<%#  Display all the answers  %>
<div id="answers" style="padding-left: 0 !important; padding-right: 30px !important;">
  <%= render @academy_question.answers  %>
</div>

<%#  if user is logged  %>
<% if user_signed_in? %>
<%#  show answer form  %>
<%= render "academy/answers/form", :question => @academy_question %>
<% else %>
<%#  show indication to login or signup  %>
<div class="col-lg-12" style="padding-left: 0 !important; padding-right: 30px !important;">
  <section class="panel">
    <header class="panel-heading">
      <div>
        <p>Inicie sessão para poder responder: <%= link_to "Iniciar Sessão", new_user_session_path, class:"url", id: "question_log_in" %> ou <%= link_to "Registar", new_user_registration_path, class:"url" %></p>
      </div>
    </header>
  </section>
</div>
<script type="text/javascript">
  $(function(){
    $("#question_log_in").click(function(){
      $.ajax({
        url: '/set_session_question/<%= @academy_question.id %>',
        dataType: 'script',
        type: "POST"
      });
    })
  })
</script>

<% end %>

<%#  Back button for unloged users   %>
<% unless user_signed_in? %>
<div class="col-lg-12">
  <%= link_to '<span class="icon-arrow-left" style="margin-right: 5px; color:white;"></span>Voltar'.html_safe, academy_questions_path, class: "btn btn-primary"%>
</div>
<% end %>
