<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @academy_question.user.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @academy_question.category.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @academy_question.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @academy_question.text %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @academy_question.image_url %>
</p>

<hr />

<%= render "academy/answers/display_all" %>
<%= render "academy/answers/form", :question => @academy_question %>





<%= link_to 'Edit', edit_academy_question_path(@academy_question) %> |
<%= link_to 'Back', academy_questions_path %>
