<div class="col-md-4 login-col-form">
    <div class="account-wall login_content">
        <img class="profile-img" src="/assets/logo2.svg" alt="">
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html=> {:id => "login_id",:class=>"form-signin"}) do |f| %>
              <div class="social-box">
                <div class="row mg-btm">
                  <div class="col-md-12"><%= link_to "<i class=\"icon-facebook\" style=\"margin-right: 5px; color: white;\"></i>Entrar com o Facebook".html_safe , "/auth/facebook",:class=>"popup btn btn-facebook btn-block",:style=>"color:white;" %></div>
                </div>
                <div class="row" style="margin-top: 5px; margin-bottom: 10px">
                    <div class="col-md-12"><%= link_to "<i class=\"icon-twitter\" style=\"margin-right: 5px; color: white;\"></i>Entrar com o Twitter".html_safe , "/auth/twitter" ,:class=>"popup btn btn-twitter btn-block" ,:style=>"color:white;" %></div>
                </div>
              </div>
              <div >
                <%= f.label :email %><br />
                <%= f.email_field :email, :autofocus => true , :class=>"form-control" ,:placeholder=>"Email" %>
              </div>

              <div>
                <%= f.label :password %><br />
                 <%= f.password_field :password ,:class=>"form-control",:placeholder=> "Password" %>
               </div>
               
               <div><%= f.submit "Iniciar Sessão", :class=>"btn btn-lg btn-primary btn-block" %></div>

                <% if @user.errors.any? %>
                  <%= render "layouts/error_message" %>
                <% end %>

               <% if devise_mapping.rememberable? -%>
                   <div>
                    <hr>
                     <div class="checkbox" id="user_remember_me" name="user[remember_me]">
                       <label>
                         <input type="checkbox"> Manter Sessão Iniciada
                       </label>
                     </div>

                     <div class="left-section">
                       <%= render "devise/shared/links"  %>
                     </div>
                   </div>
              <% end -%>
       <% end %>
    </div>
 </div>