<section class="panel">
  <header class="panel-heading"><h1>Lista de Anúncios</h1><h5><%= @ads.count %> Anúncios</h5> 
        <div class="newItemLink">
      <!--i class="fa fa-plus-circle"></i--><%# link_to ' Novo Anúncio', new_admin_ad_path %>
    </div>
  </header>
  <div class="table-responsive">
  <table class="table table-hover tablesorter" id="orderTable" >
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Imagem</th>
          <th>Título</th>
          <th>Categoria</th>
          <th>Data de expiração</th>
          <th>Local</th>
          <th>Activo?</th>
          <th>Apagado?</th>
          <th>Cidade</th>
          <th>User_ID / Nome</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @ads.each do |ad| %>
          <tr>

          <td>
          <span class="label" style= "background-color: <%= if ad.is_active then @activecolor elsif ad.is_deleted then @deletedcolor else 'orange' end %>"> </span>

          </td>
            <td><%= ad.id %></td>
            <td>
              <div class="img_table">
                <!--HELPER helper/ads_helper -->
               <%= ad_image_admin( ad.ad_images.first )  %>
              </div>
            </td>
            <td><%= ad.title %></td>
            <td>
              <% if ad.category %>
                <span class="label" style="background-color: #<%= ad.category.color %>">
                  <%= ad.category.name %>
                </span>

                <% else %>
                   <span class="label label-default" >
                    Sem Categoria
                  </span>
              <% end %>
            </td>
            <td><%= t ad.expire_date, :format => :short %></td>
            <td><%= ad.location %></td>
            <td><% if ad.is_active %>Sim<% else %>Não<% end %></td>
            <td><% if ad.is_deleted %>Sim<% else %>Não<% end %></td>
            <td><%= ad.city.city unless ad.city.blank? %></td>
            <td><%= ad.user_id %> / <%= ad.user.name unless ad.user.blank?%></td>

            <td><%= link_to 'Ver', [:admin,ad] %>
            <%= link_to 'Editar', edit_admin_ad_path(ad) %>
            <%= link_to 'Eliminar', [:admin,ad], method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
          </tr>

        <% end %>
      </tbody>
    </table>
  </div >
  <br>
</section>

<!--i class="fa fa-plus-circle"></i--><%# link_to ' Novo Anúncio', new_admin_ad_path %>



