<p id="notice"><%= notice %></p>

<p>
  <strong>Categoria:</strong>
    <% if @ad.category.nil? %>
      <span class="label" style="background-color: #888888">Sem categoria</span>
    <% else %>
      <span class="label" style="background-color: #<%= @ad.category.color %>">
        <%= @ad.category.name %>
      </span>
    <% end %>

<p>
  <strong>Título:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @ad.price %>
</p>

<p>
  <strong>Medida:</strong>
  <%= @ad.price_type.name %>
</p>

<p>
  <strong>Data de expiração:</strong>
  <%= I18n.l @ad.expire_date, format: :time %>
</p>

<p>
  <strong>Local:</strong>
  <%= @ad.location %>
</p>

<p>
  <strong>Activo:</strong>
  <% if @ad.is_active=true %>Sim<%else%>Não<%end%>
</p>

<p>
  <strong>Apagado:</strong>
  <% if @ad.is_deleted=true %>Sim<%else%>Não<%end%>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @ad.city.city %>
</p>

<p>
  <strong>Utilizador:</strong>
  <%= @ad.user.name %>
</p>

<% @ad.ad_images.each do |i| %>
  <%= image_tag i.image(:small) %>
<% end %>


<%# link_to 'Editar', edit_admin_ad_path(@ad) %>
<%= link_to 'Voltar', admin_ads_path %>
