<h1>Listar tipo de preços</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @price_types.each do |price_type| %>
      <tr>
        <td><%= price_type.name %></td>
        <td><%= link_to 'Ver', price_type %></td>
        <td><%= link_to 'Editar', edit_price_type_path(price_type) %></td>
        <td><%= link_to 'Destruir', price_type, method: :delete, data: { confirm: 'Tens a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo tipo de preço', new_price_type_path %>
