<section class="panel">
  <header class="panel-heading"><h1>Eventos por Aprovar</h1><h5><%= @unaproved_events.count %> Eventos</h5> 
  <div class="newItemLink">
    <!--i class="fa fa-plus-circle"></i--><%# link_to ' Novo Evento', new_admin_event_event_path %>
  </div>


  </header>
<div class="table-responsive">
  <table class="table table-hover tablesorter" id="orderTable" >
  <thead>
    <tr>
      <th>ID</th>
      <th>Início</th>
      <th>Fim</th>
      <th>Título</th>
      <th>Descrição</th>
      <th>Cidade</th>
      <th>Utilizador</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @unaproved_events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= I18n.l event.start_day ,:format => :time %></td>
        <td><%= I18n.l event.end_day ,:format => :time %></td>
        <td><%= event.title %></td>
        <td><%= event.description.truncate(25) %></td>
        <td><%= event.city.city %></td>
        <td><%= event.user_id %> / <%= event.user.name %></td>
        <td><%= link_to 'Ver', [:admin, event] %></td>
        <td><%= link_to 'Aprovar', admin_aprove_event_path(:id_aprove => event.id) %></td>
        <td><%= link_to 'Eliminar', [:admin, event], method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</section>



<section class="panel">
  <header class="panel-heading"><h1>Eventos Aprovados</h1><h5><%= @aproved_events.count %> Eventos</h5> 
  <div class="newItemLink">
    <!--i class="fa fa-plus-circle"></i--><%# link_to ' Novo Evento', new_admin_event_event_path %>
  </div>


  </header>
<div class="table-responsive">
  <table class="table table-hover tablesorter" id="orderTable" >
  <thead>
    <tr>
      <th>ID</th>
      <th>Início</th>
      <th>Fim</th>
      <th>Título</th>
      <th>Descrição</th>
      <th>Cidade</th>
      <th>Utilizador</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @aproved_events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= I18n.l event.start_day ,:format => :time %></td>
        <td><%= I18n.l event.end_day ,:format => :time %></td>
        <td><%= event.title %></td>
        <td><%= event.description.truncate(25) %></td>
        <td><%= event.city.city %></td>
        <td><%= event.user_id %> / <%= event.user.name %></td>
        <td><%= link_to 'Ver', [:admin, event] %></td>
        <td><%= link_to 'Desaprovar', admin_unaprove_event_path(:id_aprove => event.id) %></td>
        <td><%= link_to 'Eliminar', [:admin, event], method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</section>






<!--i class="fa fa-plus-circle"></i--><%# link_to ' Novo Evento', new_admin_event_event_path %>
