<p id="notice"><%= notice %></p>

<p>
  <strong>Start day:</strong>
  <%= @event_event.start_day %>
</p>

<p>
  <strong>End day:</strong>
  <%= @event_event.end_day %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event_event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event_event.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @event_event.user_id %>
</p>

<p>
  <strong>Aproved:</strong>
  <%= @event_event.aproved %>
</p>

<%= link_to 'Edit', edit_admin_event_event_path(@event_event) %> |
<%= link_to 'Back', admin_event_events_path %>
