<p id="notice"><%= notice %></p>

<p>
  <strong>Dia de início:</strong>
  <%= @event_event.start_day %>
</p>

<p>
  <strong>Dia de fim:</strong>
  <%= @event_event.end_day %>
</p>

<p>
  <strong>Título:</strong>
  <%= @event_event.title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @event_event.description %>
</p>

<p>
  <strong>Utilizador:</strong>
  <%= @event_event.user_id %>
</p>

<p>
  <strong>Aprovado?:</strong>
  <%= @event_event.aproved %>
</p>

<%= link_to 'Editar', edit_admin_event_event_path(@event_event) %> |
<%= link_to 'Voltar', admin_event_events_path %>
