<p id="notice"><%= notice %></p>

<p>
  <strong>Dia de início:</strong>
  <%= I18n.l @event_event.start_day ,:format => :time %>
</p>

<p>
  <strong>Dia de fim:</strong>
  <%= I18n.l @event_event.end_day ,:format => :time %>
</p>

<p>
  <strong>Título:</strong>
  <%= @event_event.title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @event_event.description %>
</p>

<p>
  <strong>Utilizador:</strong>
  <%= @event_event.user_id %>
</p>

<p>
  <strong>Aprovado:</strong>
<% if @event_event.aproved=true %>Sim<%else%>Não<%end%></p>

<%= link_to 'Editar', edit_admin_event_event_path(@event_event) %> |
<%= link_to 'Voltar', admin_event_events_path %>
