
<script type="text/javascript">
        $(function() {

          alert("Coisa");
        });

</script>
<%= form_for(@category),:html => {:multipart => true,:id=>"new_category"} do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :name ,:class=>"form-control"%>
  </div>

  <div class="field">
    <%= f.label :cor %><br />
    <%= f.text_field :color,:class =>"pick-a-color" %>

  </div>

  <div class="field">
    <%= f.label :descrição %><br>
    <%= f.text_field :description ,:class=>"form-control"%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
