<%= form_for ([:admin,@admin_user]) do |f| %>
  <% if @admin_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_user.errors.count, "error") %> prohibited this admin_user from being saved:</h2>

      <ul>
      <% @admin_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :name %>
  </div>


  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

    <div class="field">
    <%= f.label :cidade, "Distrito" %><br>
    <%= f.collection_select(:city_id,@cities,:id,:city, :include_blank => 'Selecione...') %>
  </div>

  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :tipo_de_utilizador %><br>
    <%= f.select :user_type, options_for_select([["Utilizador Normal", "1"], ["Administrador", "2"]]) %>

  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
