<section class="panel">
  <header class="panel-heading"><h1>Lista de utilizadores</h1><h5><%= @admin_users.count %> Utilizadores</h5> 
    <div class="newItemLink">
    <!--i class="fa fa-plus-circle"></i--><%# link_to ' Novo Utilizador', new_admin_user_path %>
  </div>
  </header>
<div class="table-responsive">
  <table class="table table-hover tablesorter" id="orderTable" >
      <thead>
    <tr>
      <th>ID</th>
      <!--th>Avatar</th-->
      <th>Nome</th>
      <th>Email</th>
      <th>Cidade</th>
      <th>Anúncios</th>
      <th>Eventos</th>
      <th>Membro há</th>
      <% @plans.each do |p| %>
       <th><%= p.name %></th> 
       <%end%>
      <th>Tipo</th>
      <th></th>
      <!--th></th-->
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <!--td> <%=link_to image_tag(user.avatar.url(:tiny),:class => "img-circle"), user %></td-->
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.city.city %></td>
        <td><%= user.counter_ads %></td>
        <td><%= user.counter_events %></td>
        <td><%= time_ago_in_words(user.created_at) %></td>
        <% @plans.each do |p| %>
          <th><%= user.plans.where('plan_id=?',p.id).count %></th>
        <% end %>
        <td><%= if user.user_type==2 then 'Admin' else 'User' end%></td>
        <td><%= link_to 'Ver', admin_user_path(user) %></td>
        <!--td><%# link_to 'Editar', edit_admin_user_path(user) %></td-->
        <td><%= link_to 'Eliminar', admin_user_path(user), method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>
</section>
    <!--i class="fa fa-plus-circle"></i--><%# link_to ' Novo Utilizador', new_admin_user_path %>


