<p id="notice"><%= notice %></p>

<h1>User#show</h1>

<%= image_tag @admin_user.avatar.url(:medium), :width => "20%" %>

<p>Nome: <%= @admin_user.name %></p>
<p>Nickname: <%= @admin_user.username %></p>
<p>Email: <%= @admin_user.email %></p>
<p>Cidade: <%= @admin_user.city.city %></p>
<p>Aniversário: <%= @admin_user.birthday %> Falta o FORMAT</p>
<p>Telefone: <%= @admin_user.phone %></p>
<p>Criado em: <%= @admin_user.created_at %></p>
<p>Último Login: <%= @admin_user.last_sign_in_at %></p>



<%= link_to 'Edit', edit_admin_user_path(@admin_user) %> |
<%= link_to 'Back', admin_users_path %>
