<%= form_for(plan) do |f| %>

      <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
        <% if plan.name == "Regular" %>
            <div class="panel panel-primary">
        <% elsif plan.name == "Horta" %>
            <div class="panel panel-sucess">
        <% elsif plan.name == "Quinta" %>
            <div class="panel panel-info">
        <% else %>
            <div class="panel panel-danger">
        <% end %>
        <!-- fazer if para verificar se está subscrito -->
        <div class="cnrflash">
          <div class="cnrflash-inner">
            <span class="cnrflash-label">SUBSCRITO</span>
          </div>
        </div>
        <!-- end if -->
        <div class="panel-heading">
          <h3 class="panel-title"><%= plan.name%></h3>
        </div>
        <div class="panel-body-plan">
          <div class="the-price">
            <h1><%= plan.price%> €</h1>
            <small>Durante <%= plan.duration %> Meses</small>
          </div>
          <table class="table">
            <tr>
              <td><%= pluralize(plan.ads_limit, "Anúncio") %></td>
            </tr>
            <tr class="active">
              <td><%= pluralize(plan.event_limit, "Evento") %></td>
            </tr>
            <tr>
              <td>Acesso à Academia</td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <% if plan.name != "Regular" %>
              <%= f.submit "Comprar", :class=>"btn btn-primary" %>
          <% end %>
        </div>

        
    </div>
</div>
<% end %>