
<li class="dropdown messages-dropdown">

<%# place the number of notifications avaiable %>
  <% if @number_notifications_ads > 0 %>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Mercado"><i class="fa fa-shopping-cart" id="fa-shopping-cart"></i><span class="badge" id="custom-badge"><%= @number_notifications_ads %></span><b class="caret" id="dropCarret"></b></a>
  <% else %>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Mercado"><i class="fa fa-shopping-cart" id="fa-shopping-cart"></i><b class="caret" id="dropCarret"></b></a>
  <% end %>


  <ul class="dropdown-menu">

<%# notifications expired ads %>
    <% if @notifications_ad_expired.length > 0 %>
      <li class="dropdown-header"><%= @notifications_ad_expired.length %> Anúncios expiraram</li>
        <%# first_expired_ads = expired_ads.limit(5) %>
        <% @notifications_ad_expired.each do |notification| %>
          <% ad = notification.ad %>
          <li class="preview">
            <a href="<%= ad_path(ad, :notification => notification) %>">
              <% if ad.ad_images.count > 0 %>
                <span class="avatar"><%= image_tag(ad.ad_images.first.image.url(:thumb), :alt => ad.title, :width => '50') %></span>
              <% else %>
                <span class="avatar"><img width="50" alt="50x50" src="http://placehold.it/50x50"></img></span>
              <% end %>
              <span class="name"><%= truncate(ad.title, length: 20) %></span>
              <span class="time"><i class="icon-time"></i><abbr class="timeago" title="<%= ad.expire_date.getutc.iso8601 %>"> <%= ad.expire_date.to_s %> </abbr></span>
            </a>
          </li>
        <% end %>
      <li class="divider"></li>
    <% end %>

<%# notifications from messages in ads %>
    <% if @notifications_ad_messages.length > 0 %>
      <li class="dropdown-header"><%= @notifications_ad_messages.length %> Novas mensagens</li>
        <%# first_expired_ads = expired_ads.limit(5) %>
        <% @notifications_ad_messages.each do |notification| %>
          <% ad = notification.ad %>
          <li class="preview">
            <a href="<%= ad_path(ad, :notification => notification) %>">
              <% if ad.ad_images.count > 0 %>
                <span class="avatar"><%= image_tag(ad.ad_images.first.image.url(:thumb), :alt => ad.title, :width => '50') %></span>
              <% else %>
                <span class="avatar"><img width="50" alt="50x50" src="http://placehold.it/50x50"></img></span>
              <% end %>
              <span class="name"><%= truncate(ad.title, length: 20) %></span>
              <span class="time"><i class="icon-time"></i><abbr class="timeago" title="<%= ad.expire_date.getutc.iso8601 %>"> <%= ad.expire_date.to_s %> </abbr></span>
            </a>
          </li>
        <% end %>
      <li class="divider"></li>
    <% end %>


    <% if @number_notifications_ads == 0 %>
      <li class="dropdown-header">Sem novos alertas.</li>
    <% end %>

  </ul>
</li>