
<li class="dropdown">
  <a href="#" class="dropdown-toggle" style="padding-top:9px; padding-bottom:9px;" data-toggle="dropdown" >
    <!--<% image_tag current_user.avatar.url%>-->
    <span><%= image_tag current_user.avatar.url(:medium), style:"height:35px; " %>
      <% if @notification_messages.size > 0 %>
        <span class="badge" id="custom-badge">1</span>
      <% end %>
    </span>
    <!--<span><%= image_tag current_user.avatar.url(:tiny) %></span>-->

    <b class="caret" id="dropCarret"></b>
  </a>

  <ul class="dropdown-menu">
      <% @notification_messages.each do |notification| %>

        <li class="preview">
          <a href="<%= message_path(notification.id_destination, :notification => notification) %>">
            <small class="type"><%= notification.description %></small><br>
            <span class="name">Tem uma nova mensagem</span>
            <span class="time"><i class="icon-time"></i>4:59PM<% time_ago_in_words(notification.created_at) %></span>
          </a>
        </li>
      <% end %>
      <li class="divider"></li>

    <!-- Messages -->
    <% if !@last_message.nil? %>
      <% @last_message.each do |m| %>
        <li class="preview">
          <a href="#">
            <span class="name">Enviado: <%= m.sender.name %></span><br />
            <span class="message"><%= truncate(m.text,:length => 20) %></span><br />
            <span class="time" align="rigth"><i class="icon-time"></i><small><%= m.created_at %></small></span>
          </a>
        </li>
        <li class="divider"></li>
      <%end%>
      <li><a href="#">Ver Mais <span class="badge"><%= (@last_message.count - 3) %></span></a></li>
    <% else %>
      <li class="preview">
        <span class="name"> &nbsp; <i class="fa fa-envelope-o"></i>  Sem Mensagens</span><br /></li>
        <li class="divider"></li>
      <li>
          <%= link_to "Caixa de Mensagens", messages_path %>
      </li>
    <% end %>
    <li class="divider"></li>

    <li><a href="/users/<%= current_user.id %>">Perfil</a></li>
    <li><%= link_to(ratings_path) do %>
              <span>Rating por atribuir <span class="badge"><%= load_stuff_header %></span></span>
            <% end %></li>
    <li class="divider"></li>
    <li><%= link_to "Terminar Sessão",destroy_user_session_path, method: :delete %></li>

  </ul>
</li>
