
<li class="dropdown messages-dropdown">
 
  <% if @number_notifications_academy > 0 %>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book" id="fa-book"></i><span class="badge" id="custom-badge"><%= @number_notifications_academy %></span><b class="caret" id="dropCarret"></b></a>
  <% else %>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book"  id="fa-book"></i><b class="caret" id="dropCarret"></b></a>
  <% end %>

  <ul class="dropdown-menu">

    <%# notifications new answers for your questions %>
    <% if @notifications_new_answer.length > 0 %>
      <li class="dropdown-header"><%= @notifications_new_answer.length %> Novas Respostas</li>
      <% @notifications_new_answer.each do |notification| %>
        <% question = notification.question %>
        <li class="preview">
          <a href="<%= academy_question_path(question, :notification => notification) %>">
            <span class="name"><%= question.title %></span>
          </a>
        </li>
      <% end %>
      <li class="divider"></li>
    <% end %>

        <%# notifications new answers for your questions %>
    <% if @notification_acmy_new_registration.length > 0 %>
      <li class="dropdown-header"><%= @notification_acmy_new_registration.length %> Novas Inscrições</li>
      <% @notification_acmy_new_registration.each do |notification| %>
        <% workshop = notification.workshop %>
        <li class="preview">
          <a href="<%= academy_workshop_path(workshop, :notification => notification) %>">
            <span class="name"><%= workshop %></span>
          </a>
        </li>
      <% end %>
      <li class="divider"></li>
    <% end %>

    <% if @number_notifications_academy == 0 %>
      <li class="dropdown-header">Sem novos alertas.</li>
    <% end %>


  </ul>
</li>

