<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="width:100%;">
      
      <div class="navbar-header" >
        
          <img id="agrosocial_logo" src="/assets/logo_button.svg" alt="AgroSocial Logo" class="img-circle">
          <a class="navbar-brand"  href="/">AgroSocial</a>
            
          <a id="menu-toggle" href="#" class="btn btn-default"><i class="fa fa-reorder"></i></a>
          
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          

         <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">

            <ul class="nav navbar-nav navbar-right" >
              <li class="col-lg-6">
                <div class="input-group">
                  <input type="text" class="form-control typeahead">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Pesquisar</button>
                  </span>
                </div>
              </li>
              <li class="divider"></li>

              <!--NOTIFICACOES-->
              <li class="dropdown messages-dropdown" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i><span class="badge" id="custom-badge">3</span> <b class="caret"></b> </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">3 New </li>
                  <li class="preview">
                    <a href="#">
                      <span class="avatar"><img src="http://placehold.it/50x50"></span>
                      <span class="name">John Smith:</span>
                      <span class="message">Hey there, I wanted to ask you something...</span>
                      <span class="time"><i class="icon-time"></i> 4:34 PM</span>
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="preview">
                    <a href="#">
                      <span class="avatar"><img src="http://placehold.it/50x50"></span>
                      <span class="name">John Smith:</span>
                      <span class="message">Hey there, I wanted to ask you something...</span>
                      <span class="time"><i class="icon-time"></i> 4:34 PM</span>
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="preview">
                    <a href="#">
                      <span class="avatar"><img src="http://placehold.it/50x50"></span>
                      <span class="name">John Smith:</span>
                      <span class="message">Hey there, I wanted to ask you something...</span>
                      <span class="time"><i class="icon-time"></i> 4:34 PM</span>
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Ver Mais <span class="badge">3</span></a></li>
                </ul>
              </li>
              <!--END NOTIFICACOES-->

              <!-- MESSAGES -->
              <li class="dropdown messages-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope-o"></i><span class="badge" id="custom-badge">2</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">2 New </li>
                  <li class="preview">
                    <a href="#">
                      <span class="avatar"><img src="http://placehold.it/50x50"></span>
                      <span class="name">John Smith:</span>
                      <span class="message">Hey there, I wanted to ask you something...</span>
                      <span class="time"><i class="icon-time"></i> 4:34 PM</span>
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="preview">
                    <a href="#">
                      <span class="avatar"><img src="http://placehold.it/50x50"></span>
                      <span class="name">John Smith:</span>
                      <span class="message">Hey there, I wanted to ask you something...</span>
                      <span class="time"><i class="icon-time"></i> 4:34 PM</span>
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Ver Mais <span class="badge">2</span></a></li>
                </ul>
              </li>
              <!--END MESSAGES-->

              <!-- ADS -->
              <% if user_signed_in? %>
                <% expired_ads=current_user.expired_ads %>
                <li class="dropdown messages-dropdown">
                  <% if expired_ads.count >0 %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-folder-open-o fa-2x" style="color:white"></i><span class="badge" id="custom-badge"><%= expired_ads.count %></span><b class="caret"></b></a>
                  <% else %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-folder-o fa-2x" style="color:white"></i><b class="caret"></b></a>
                  <% end %>
                  <ul class="dropdown-menu">
                    <% if expired_ads.count > 0 %>
                      <li class="dropdown-header"><%= expired_ads.count %> ads have expired</li>
                      <% first_expired_ads = expired_ads.limit(5) %>
                      <% first_expired_ads.each do |ad| %>
                        <li class="preview">
                          <a href="<%= ad_path(ad) %>">
                          	 <% if ad.ad_images.count > 0 %>
                              <span class="avatar"><%= image_tag(ad.ad_images.first.image.url(:thumb), :alt => ad.title, :width => '50') %></span>
                            <% else %>
                              <span class="avatar"><img width="50" alt="50x50" src="http://placehold.it/50x50"></img></span>
                            <% end %>
                            <span class="name"><%= ad.title %></span>
                            <span class="message"><%= ad.limited_description(20) %></span>
                            <span class="time"><i class="icon-time"></i>
                              <abbr class="timeago" title="<%= ad.expire_date.getutc.iso8601 %>"> <%= ad.expire_date.to_s %> </abbr>
                            </span>
                          </a>
                        </li>
                        <li class="divider"></li>
                      <% end %>
                    <% else %>
                      <li class="dropdown-header">All active ads are in order</li>
                    <% end %>
                    <li><a href="<%= users_myads_path %>"> Ver todos </a></li>
                  </ul>
                </li>
              <% end %>
              <!--END ADS-->

              <!--USER-->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                  <% if user_signed_in? %>
                    <%= current_user.username %>
                  <% end %>
                  <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="fa fa-user"></i> Perfil</a></li>
                  <li><%= link_to(ratings_path) do %>
                    <span>Rating por atribuir <span class="badge"><%= load_stuff %></span></span>
                  <% end %></li>
                  <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
                  <li><a href="#"><i class="fa fa-gear"></i>Definições</a></li>
                  <li class="divider"></li>
                  <li><%= link_to "Terminar Sessão",destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
              <!--END USER-->
            
            </ul>

          </div>
      </div>
</nav>
