<nav class="navbar navbar-default navbar-fixed-top" id="navbarAgro" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header" id="header-bar">
    <a href="<% if user_signed_in? %> <%= feed_path %> <% else %> <%= ads_path %> <% end %>
"><img id="agrosocial_logo" src="/assets/logo_button.svg" alt="AgroSocial Logo" class="img-circle"></a>
    <a class="navbar-brand" id="brandAgro" href="<% if user_signed_in? %> <%= feed_path %> <% else %> <%= ads_path %> <% end %>
">AgroSocial</a>
  </div>


  <button type="button" id="navbarToggle" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>

  </button>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- verifica se tem novas notificações e lanca alerta-->
    <% if @total_new_notification > 0 %>
      <script>
      showNotify("Tem Novas Notificações!","info")
      </script>
    <% end %>

    <ul class="nav navbar-nav navbar-right">

      <li style="width:300px;margin-right: 20px;">
        <%= form_tag "/ads", :method => "get",:class=>"navbar-form navbar-left input-group", style:"box-shadow: none; -webkit-box-shadow: none", :id => "search" do %>
            <%= text_field_tag :search, params[:search],:class => "form-control typeahead" ,:style=>"border: 1px solid #dddddd; border-radius: 3px 3px 3px 3px; vertical-align: center; width:300px;",:autocomplete => "off",:id=>"search_query",:placeholder=>"O que procura?"  %>
            <input type="hidden" class="span1" name="IdControl" id="IdControl" value="" />
        <% end %>
   
      </li>

      <% if user_signed_in? %>

<%  #notifications from social  %>
        <%= render "layouts/header_social_notification" %>
<%  #notifications from ads  %>
        <%= render "layouts/header_ads_notification" %>
<%  #notifications from academy  %>
        <%= render "layouts/header_academy_notification" %>
<%  #user menu  %>
        <%= render "layouts/header_user_menu" %>

      <% else %>

        <li><%= link_to "Login".html_safe , new_user_session_path, style:"color:white"%></li>
        <li><%= link_to "Registo", new_user_registration_path, style:"color:white" %></li>

      <% end %>

    </ul>

  </div><!-- /.navbar-collapse -->
</nav>

<!-- SCRIPT PARA O AUTOCOMPLETE -->
<script type="text/javascript">
           $(function(){
                //window.query_cache = {};
                var labels = [];
                var mapped = {};
                $('.typeahead').typeahead({
                  source: function (query, process) {
                    labels = [];
                    mapped = {};
                     return $.ajax({
                      url: "/search",
                      type: 'get',
                      data: { query: query },
                      dataType: 'json',
                      success: function (result) {
                        labels = [];

                        //alert(result)
                        $.each(result, function (i, item) {
                           //evita repetidos
                           if( !mapped.hasOwnProperty(i.title) ){
                             mapped[item.title] = {
                                  id: item.id,
                                  title: item.title,
                                  category: item.category,
                                  tipo: item.tipo,
                                  img: item.img,
                                  link: item.link
                             }
                             
                             labels.push(item.title)
                          }
                          //alert(item.id + item.title)

                        });
                        return process(labels);

                      }
                  });
                },
                 highlighter: function(item){
                    var p = mapped[item];
                    var itm = ''
                             + "<div class='typeahead_wrapper'>"
                             + "<img class='typeahead_photo' src='"+ p.img +"' />"
                             + "<div class='typeahead_labels'>"
                             + "<div class='typeahead_primary'>" + p.title + "</div>"
                             + "<div class='typeahead_secondary'>" + p.category + " | <span class='typeahead_typo'> "+ p.tipo +"</span></div>"
                             + "</div>"
                             + "</div>";
                    return itm;
                },
                 updater: function ( item ) {
                    //save the id value into the hidden field
                    $( "#IdControl" ).val( mapped[item].id );
                    //alert(mapped[item].id)
                    window.location.href = mapped[item].link;
                    //return the string you want to go into the textbox (the name)
                    //alert(item)
                    //return item;
                }
              });

          });


      </script>
