<div class="panel-group" id="accordion" style="margin-bottom: 10px;">

  <!-- MERCADO -->
  <% if user_signed_in? %>
  <div class="panel panel-info">
    <div class="panel-heading" style="background-color: #39b3d7">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseMercado">
          <%= fa_icon "tags", class:"market-icon" %> MERCADO
        </a>
      </h4>
    </div>
    <div id="collapseMercado" class="panel-collapse collapse <%= in_mercado? %>">
      <div class="panel-body">
        <ul class="side-elems">
          <li><%= link_to "<i class='fa fa-angle-right'></i>Entrar no Mercado".html_safe , ads_path %></li>
          <li><%= link_to "<i class='fa fa-angle-right'></i>Os Meus Anúncios".html_safe , myads_user_path(current_user.id) %></li>
          <li><%= link_to "<i class='fa fa-angle-right'></i>Novo Anúncio".html_safe , new_ad_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <% else %>
  <div class="panel panel-info">
    <div class="panel-heading" style="background-color: #39b3d7">
      <h4 class="panel-title">
        <%= link_to "MERCADO".html_safe, ads_path %>
      </h4>
    </div>
  </div>
  <% end %>

  <!-- EVENTOS -->
  <% if user_signed_in? %>
  <div class="panel panel-warning">
    <div class="panel-heading" style="background-color: #ed9c28">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEventos">
          <%= fa_icon "calendar" %> EVENTOS
        </a>
      </h4>
    </div>
    <div id="collapseEventos" class="panel-collapse collapse <%= in_events? %>">
      <div class="panel-body">
        <ul class="side-elems">
          <li><%= link_to "<i class='fa fa-angle-right'></i>Ver Todos".html_safe, event_events_path %></li>
          <% if user_signed_in? %>
          <li><%= link_to "<i class='fa fa-angle-right'></i>Os Meus Eventos".html_safe, myevents_path(current_user.id) %></li>
          <li><%= link_to "<i class='fa fa-angle-right'></i>Novo Evento".html_safe, new_event_event_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% else %>
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #ed9c28">
      <h4 class="panel-title">
        <%= link_to "EVENTOS".html_safe, ads_path %>
      </h4>
    </div>
  </div>
  <% end %>

  <!-- ACADEMIA -->
  <% if user_signed_in? %>
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #47a447;">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseAcademia">
          <%= fa_icon "book" %> ACADEMIA
        </a>
      </h4>
    </div>
    <div id="collapseAcademia" class="panel-collapse collapse <%= in_academy? %>">
      <div class="panel-body">
        <ul class="side-elems">
          <li><%= link_to "<i class='fa fa-angle-right'></i>Entrar na Academia".html_safe, academy_path %></li>
          <li><%= link_to "<i class='fa fa-angle-right'></i>Perguntas".html_safe, academy_questions_path %></li>
          <li><%= link_to "<i class='fa fa-angle-right'></i>Tutoriais".html_safe, academy_tutorials_path%></li>
          <li><%= link_to "<i class='fa fa-angle-right'></i>Workshops".html_safe, academy_workshops_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <% else %>
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #47a447;">
      <h4 class="panel-title">
        <%= link_to "ACADEMIA".html_safe, academy_path  %>
      </h4>
    </div>
  </div>

  <% end %>

</div>

<!-- Admin Acess-->
<% if user_signed_in? && current_user.isAdmin? %>
<br>
<div class="panel panel-default">
  <div class="panel-heading" style="background-color: #d2322d; border-radius: 4px 4px 4px 4px;">
    <h4 class="panel-title">
      <%= fa_icon "lock" %> <a href="/admin/ads"> Danger-Zone</a>
    </h4>
  </div>
</div>
<% end %>


<% if user_signed_in? %>
<!-- Painel de Filtros-->
<div class="panel panel-default">
  <div class="panel-heading" style="background-color: rgb(237, 239, 240);">
    <i class="icon-search"></i><span style="font-size:13px;margin-left:5px">Pesquisar por:</span>
  </div>
  <div class="panel-body">

    <% if controller_name=="ads"%>
    <%= render "layouts/sidebar_left_ads" %>
    <% end %>

    <% if academy? %>
    <%= render "layouts/sidebar_left_academy" %>
    <% end %>

  </div>
</div>
<% end %>