  <!-- Sidebar -->
      <div id="sidebar-left">
        <ul class="sidebar-nav">
           <% if user_signed_in? %>
                  <%= image_tag current_user.avatar.url:thumb %>
            <% end %>
           <li><%= link_to "<i class='fa fa-anchor '></i> ADS".html_safe , ads_path %></li>
              <li><%= link_to "<i class='fa fa-plus '></i> New Ad".html_safe , new_ad_path %></li>
              <li><%= link_to '<i class="fa fa-user "></i> Users'.html_safe , users_path %></li>
              <li>
                 <% if user_signed_in? %>
                    <%= "Tas Bom " + current_user.name + " ?" %>
                  <% else %>

                    <%= link_to "<i class='fa fa-spinner '></i> Login".html_safe , new_user_session_path %>
                  <% end %>

              
              </li>
              <li>
                <a href="/" class="nav-header" >
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>
                    Danger-Zone
              </a>
            </li>

        </ul>
      </div>