
<% if user_signed_in? %>
    <div class="col-md-12 col-lg-12 col-xs-4 col-sm-8" style="text-align: center">
      <%= image_tag current_user.avatar.url(:medium),:width => "50%",:class => "img-rounded",style:"background-color:white" %>
    </div>
    <div class="row" style="margin-bottom:15px;">
      <div class="col-md-8"><strong> <%= current_user.name  %></strong></div>
    </div>
<% else %>
    <div class="row" style="margin-bottom:5px">
      <div class="col-md-8"><strong> Bem-vindo Visitante!</strong></div>
    </div>
<% end -%>

  <div class="panel-group" id="accordion">

    <!-- MERCADO -->
    <% if user_signed_in? %>
      <div class="panel panel-info">
        <div class="panel-heading" style="background-color: #39b3d7">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMercado">
                <span class="icon-shopping-cart" style="margin-right: 2px"></span> MERCADO
            </a>
          </h4>
        </div>
        <div id="collapseMercado" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <li><%= link_to "Entrar no Mercado".html_safe , ads_path %></li>
                <li><%= link_to "Os Meus Anúncios".html_safe , myads_user_path(current_user.id) %></li>
                <li><%= link_to "Novo Anúncio".html_safe , new_ad_path %></li>
            </ul>
          </div>
        </div>
      </div>
      <% else %>
      <div class="panel panel-info">
        <div class="panel-heading" style="background-color: #39b3d7">
          <h4 class="panel-title">
              <%= link_to "MERCADO".html_safe, ads_path %>
          </h4>
        </div>
      </div>
      <% end %>

    <!-- EVENTOS -->
    <% if user_signed_in? %>
      <div class="panel panel-warning">
        <div class="panel-heading" style="background-color: #ed9c28">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEventos">
              <span class="icon-heart" style="margin-right: 2px"></span> EVENTOS
            </a>
          </h4>
        </div>
        <div id="collapseEventos" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li><%= link_to "Ver Todos".html_safe, ads_path %></li>
            <% if user_signed_in? %>
                <li><%= link_to "Os Meus Eventos".html_safe, ads_path %></li>
                <li><%= link_to "Novo Evento".html_safe, ads_path %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
      <% else %>
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: #ed9c28">
          <h4 class="panel-title">
              <%= link_to "EVENTOS".html_safe, ads_path %>
          </h4>
        </div>
      </div>
      <% end %>

      <!-- ACADEMIA -->
      <% if user_signed_in? %>
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: #47a447;">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseAcademia">
              <span class="icon-book" style="margin-right: 2px"></span>  ACADEMIA
            </a>
          </h4>
        </div>
        <div id="collapseAcademia" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
            <li><%= link_to "Entrar na Academia".html_safe, academy_path %></li>
            <li><%= link_to "Perguntas".html_safe, academy_questions_path %></li>
            <li><%= link_to "Tutoriais".html_safe, academy_tutorials_path%></li>
            <li><%= link_to "  Criar Tutorial".html_safe, new_academy_tutorial_path%></li>
            <li><%= link_to "workshops".html_safe, academy_workshops_path %></li>
            </ul>
          </div>
        </div>
      </div>

      <% else %>
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: #47a447;">
          <h4 class="panel-title">
              <%= link_to "ACADEMIA".html_safe, academy_path %>
          </h4>
        </div>
      </div>

  <% end %>

</div>

<!-- Admin Acess-->
<% if user_signed_in? %>
    <br>
<div class="panel panel-default">
  <div class="panel-heading" style="background-color: #d2322d">
    <h4 class="panel-title">
      <span class="icon-lock" style="margin-right: 2px"></span><a href="/admin/ads">Danger-Zone</a>
    </h4>
  </div>
</div>
<% end %>


<!-- Painel de Filtros-->
<div class="panel panel-default">
  <div class="panel-heading" style="background-color: rgb(237, 239, 240);">
    <i class="icon-search"></i><span style="font-size:13px;margin-left:5px">Pesquisar por:</span>
  </div>
  <div class="panel-body">

    <% if user_signed_in? && controller_name=="ads"%>
    <%= form_tag ads_path ,:method => :get do%>

    <!-- Split button Categoria -->
    <div class="btn-group" style="width: 100%; margin-bottom: 2px" >
      <button type="button" class="btn btn-sm" style="width: 80%;text-align: left">Categoria</button>
      <button type="button" class="btn btn-sm dropdown-toggle" style="width: 20%" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Categoria</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <% @categories.each do |cat| %>
            <li>
              <%= check_box_tag "search[]","cat:#{cat.id}" %>
              <%= cat.name %>
            </li>
        <% end %>
      </ul>
    </div>

    <div class="btn-group" style="width: 100%; margin-bottom: 2px">
      <button type="button" class="btn btn-sm" style="width: 80%;text-align: left">Cidade</button>
      <button type="button" class="btn btn-sm dropdown-toggle" style="width: 20%" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Cidade</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <% @cities.each do |city| %>
            <li>
              <%= check_box_tag "search[]","city:#{city.id}"%>
              <%= city.city %>
            </li>
        <% end %>
      </ul>
    </div>

    <%= submit_tag "Filtrar",class:"btn btn-default btn-sm",style:"width:100%" %>

    <% end %>
    <% end %>

  </div>
</div>