<%= form_tag ads_path ,:method => :get do%>
  <section class="panel">
      <header class="panel-heading">
          Category
      </header>
      <div class="panel-body">
          <ul class="nav prod-cat">
               <% @categories.each do |cat| %>
                  <li>
                    <i class=" fa fa-angle-right"></i>
                    <% if !params[:search].nil? %>
                        <% if params[:search].include?("cat:" + "#{cat.id}") %>
                            <%= check_box_tag "search[]","cat:#{cat.id}", "active" %>
                        <%else%>
                            <%= check_box_tag "search[]","cat:#{cat.id}" %>
                        <% end %>
                    <% else %>
                        <%= check_box_tag "search[]","cat:#{cat.id}" %>
                    <% end %>
                    <%= cat.name %>
                  </li>
              <% end %>
          </ul>
      </div>

    <header class="panel-heading border-header">
      Category
    </header>

    <div class="panel-body">
    <select multiple name="cities[]" class="col-xs-12 col-md-13 col-lg-13" placeholder="sel. cidades">
    <option value="">Selecione...</option>
    <% @districts.each do |district| %>
      <% !params[:cities].blank? ? (cities = params[:cities]) : (cities = [])%>
      <optgroup label="<%= district.name %>">
           <% district.cities.each do |city| %>

                 <option value="<%= city.id %>" <%= 'selected' if cities.include?(city.id.to_s) %> ><%= city.city %></option>
           <% end %>
      </optgroup>
    <% end %>
    </select>
    </div>
  </section>
     
  <%= submit_tag "Filtrar",class:"btn btn-default btn-sm",style:"width:100%" %>
<% end %>