<%= form_tag ads_path ,:method => :get do%>

      <header class="panel-heading border-header">
          Categoria
      </header>
      <div class="panel-body">
          <ul class="nav prod-cat">
               <% @categories.each do |cat| %>
                  <li>
                    <% if !params[:search_category].nil? %>
                        <% if params[:search_category].include?(cat.id.to_s) %>
                            <%= check_box_tag "search_category[]",cat.id, "active" %>
                        <%else%>
                            <%= check_box_tag "search_category[]",cat.id %>
                        <% end %>
                    <% else %>
                        <%= check_box_tag "search_category[]",cat.id %>
                    <% end %>
                    <%= cat.name %>
                  </li>
              <% end %>
          </ul>
      </div>

    <header class="panel-heading border-header">
      Cidade
    </header>

    <div class="panel-body">
    <select id="search-bar-ads" style="float:center; width:100%;" multiple name="cities[]" class="col-xs-12 col-md-13 col-lg-13" placeholder="Procure por cidades..." title="Pode introduzir várias cidades..">
    <option value="" style="border-radius: 3px !important;">Selecione...</option>
    <% @districts.each do |district| %>
      <% !params[:cities].blank? ? (cities = params[:cities]) : (cities = [])%>
      <optgroup label="<%= district.name %>">
           <% district.cities.each do |city| %>
                 <option value="<%= city.id %>" <%= 'selected' if cities.include?(city.id.to_s) %> ><%= city.city %></option>
           <% end %>
      </optgroup>
    <% end %>
    </select>
    </div>

     
  <%= submit_tag "Filtrar",class:"btn btn-default btn-sm",style:"width:100%" %>
<% end %>