
<div class="panel panel-default">
  <div class="panel-body" style="text-align: center">

<% if user_signed_in? %>
    <div class="col-md-12 col-lg-12 col-xs-4 col-sm-8" style="">
      <% if current_user.avatar.url != nil %>
      <%= image_tag current_user.avatar.url(:medium),:width => "50%",:class => "img-circle" %>
      <% else %>

      <% end %>
    </div>
    <div class="row" style="margin-bottom:5px">
      <div class="col-md-8"><strong> <%= current_user.name  %></strong></div>
    </div>
<% end -%>

  <div class="panel-group" id="accordion">

    <% if user_signed_in? && (controller_name == 'ads' || (action_name=="myads")) %>

  <!-- MERCADO -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseMercado">
          Mercado
        </a>
      </h4>
    </div>
    <div id="collapseMercado" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul>
          <li><%= link_to "Ver Todos".html_safe , ads_path %></li>
            <li><%= link_to "Os Meus Anúncios".html_safe , myads_user_path(current_user.id) %></li>
            <li><%= link_to "Novo Anúncio".html_safe , new_ad_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <% else %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
          <%= link_to "Mercado".html_safe, ads_path %>
      </h4>
    </div>
  </div>

  <% end %>

  <% if user_signed_in? %>

  <!-- EVENTOS -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEventos">
          Eventos
        </a>
      </h4>
    </div>
    <div id="collapseEventos" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li><%= link_to "Ver Todos".html_safe, ads_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to "Os Meus Eventos".html_safe, ads_path %></li>
            <li><%= link_to "Novo Evento".html_safe, ads_path %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>

  <% else %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
          <%= link_to "Eventos".html_safe, ads_path %>
      </h4>
    </div>
  </div>

  <% end %>

  <% if user_signed_in? && controller_name=="academy" %>

  <!-- ACADEMIA -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseAcademia">
          Academia
        </a>
      </h4>
    </div>
    <div id="collapseAcademia" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul>
        <li><%= link_to "Entrar na Academia".html_safe, academy_path %></li>
        <li><%= link_to "Perguntas".html_safe, academy_questions_path %></li>
        <li><%= link_to "Tutoriais".html_safe, academy_tutorials_path%></li>
        <li><%= link_to "  Criar Tutorial".html_safe, new_academy_tutorial_path%></li>
        <li><%= link_to "workshops".html_safe, ads_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <% else %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
          <%= link_to "Academia".html_safe, academy_path %>
      </h4>
    </div>
  </div>

  <% end %>

</div>

  </div>
</div>

<!-- Admin Acess-->
<% if user_signed_in? %>
<div class="panel panel-default">
  <div class="panel-body">
    <div>
        <a class="btn dropdown-toggle btn-danger" href="/admin/ads" style="width: 100%;">Danger-Zone</a>
    </div>
  </div>
</div>
<% end %>


<!--Painel de Filtros-->
<div class="panel panel-default">
  <div class="panel-body">

    <ul style="margin-left: -30px; line-height: 28px;">
    <!--Filtros-->
    <% if user_signed_in? && controller_name=="ads"%>
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Filtros</legend>

        
        <li>
          <a href="#collapseCategory" data-toggle="collapse" data-parent="#accordion">Categoria<b class="caret"></b></a>
        </li>

        <!--Formulário-->
        <%= form_tag ads_path ,:method => :get do%>

          <div id="collapseCategory" class="panel-collapse collapse">
            <ul>

              <% @categories.each do |cat| %>
                  <li>
                    <%= check_box_tag "search[]","cat:#{cat.id}" %>
                    <%= cat.name %>
                  </li>
              <% end %>
            </ul>
          </div>

          <li>
            <a href="#collapseCity" data-toggle="collapse" data-parent="#accordion">Cidade<b class="caret"></b></a>
          </li>

          <div id="collapseCity" class="panel-collapse collapse">
            <ul>
              <% @cities.each do |city| %>
                  <li>
                    <%= check_box_tag "search[]","city:#{city.id}"%>
                    <%= city.city %>
                  </li>
              <% end %>
            </ul>
          </div>
          <br>
          <li style="text-align: center; ">
            <%= submit_tag "Filtrar" %>
          </li>
        <% end %>
        <!-- END FORMULARIO-->
        
    <% end %>
    </ul>
    <!-- END FILTERS -->
  </div>
</div>

