  <!-- Sidebar -->
  <div id="sidebar-left">
    <ul class="sidebar-nav">

      <!-- Botões principais-->
      <div class="panel-group" id="accordion">



    <div class="panel-heading">
        <%- if controller_name == 'ads' %>
            <li><%= link_to "Mercado".html_safe, "#collapseAds", :class=>"btn btn-primary btn-block main-button-left", "data-toggle" =>  "collapse", "data-parent" => "#accordion" %></li>
       
            <div id="collapseAds" class="panel-collapse collapse in">      
              <li><%= link_to "Os Meus Anúncios".html_safe , users_myads_path %></li>
              <li><%= link_to "Novo Anúncio".html_safe , new_ad_path %></li>
            </div>
        
        <% else %>
            <li><%= link_to "Mercado".html_safe, ads_path, :class=>"btn btn-primary btn-block main-button-left"%></li>
        <% end %>
    </div>

        <div class="panel-heading">
          <li><%= link_to "Eventos".html_safe, "#collapseEvents", :class=>"btn btn-primary btn-block main-button-left", "data-toggle" =>  "collapse", "data-parent" => "#accordion" %></li>
        </div>
        <div id="collapseEvents" class="panel-collapse collapse">      
         <li><%= link_to "Os Meus Eventos".html_safe %></li>
          <li><%= link_to "Novo Evento".html_safe %></li>      
        </div>


        <div class="panel-heading">
          <li><%= link_to "Academia".html_safe, "#collapseAcademy", :class=>"btn btn-primary btn-block main-button-left", "data-toggle" =>  "collapse", "data-parent" => "#accordion" %></li>
        </div>
        <div id="collapseAcademy" class="panel-collapse collapse">      
        <li><%= link_to "Os Meus Interesses".html_safe %></li>
          <li><%= link_to "Colocar Pergunta".html_safe%></li>   
        </div>



        <li><%= link_to '<i class="fa fa-user "></i> Users'.html_safe , users_path %></li>
        <li>
         <% if user_signed_in? %>
         <%= "Tas Bom " + current_user.name + " ?" %>
         <% else %>

         <%= link_to "<i class='fa fa-spinner '></i> Login".html_safe , new_user_session_path %>
         <% end %>


       </li>
       <li>
        <a href="/admin/ads" class="nav-header" >
          <span class="fa-stack fa-lg">
            <i class="fa fa-ban fa-stack-2x text-danger"></i>
          </span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Danger-Zone
        </a>
      </li>

    </ul>
  </div>