<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AgroSocial Admin</title>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  <%= javascript_include_tag "application","data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application","admin_theme","data-turbolinks-track" => true  %>

  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Ubuntu|Raleway' rel='stylesheet' type='text/css'>

  <body class=""> 
    <div id="wrapper">
      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top admin-navbar" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "AgroSocial-<small>Administração</small>".html_safe, admin_dashboard_index_path ,:class=>"navbar-brand"%>
          
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav sidebar_nav_admin">

            <li> 
             <%= link_to "<i class='fa fa-shopping-cart fa-1.2x'></i> Anúncios".html_safe  , admin_ads_path %>
           </li>

           <li> 
             <%= link_to "<i class='fa fa-tags'></i> Categorias".html_safe  , admin_categories_path %>
           </li>

           <li> 
             <%= link_to "<i class='fa fa-dot-circle-o'></i> Cidades".html_safe  , admin_cities_path %>
           </li>




         <li> 
           <%= link_to "<i class='fa fa-calendar'></i> Eventos".html_safe  , admin_event_events_path %>
         </li>

          <li> 
           <%= link_to "<i class='fa fa-suitcase'></i> Pacotes".html_safe  , admin_plans_path %>
         </li>

          <li> 
           <%= link_to "<i class='fa fa-question-circle'></i> Perguntas".html_safe  , admin_academy_questions_path %>
         </li>


         <li> 
           <%= link_to "<i class='fa fa-qrcode'></i> Publicidade".html_safe  , admin_publicities_path %>
         </li>

           <li> 
             <%= link_to "<i class='fa fa-eur'></i> Tipos de Preço".html_safe  , admin_price_types_path %>
           </li>



           <li> 
            <%= link_to "<i class='fa fa-book'></i> Tutoriais".html_safe  , admin_academy_tutorials_path %>
          </li>

           <li> 
             <%= link_to "<i class='fa fa-users'></i> Utilizadores".html_safe  , admin_users_path %>
           </li>

           <li> 
             <%= link_to "<i class='fa fa-square'></i> Workshops".html_safe  , admin_academy_workshops_path %>
           </li>


         <hr>

         <li>
          <a href="/" class="nav-header" >
            <i class="fa fa-reply"></i> Voltar </a>
          </li>

        </ul>

        <ul class="nav navbar-nav navbar-right navbar-user">
          <li class="dropdown user-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.name %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Terminar Sessão",destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <% if flash[:notice] %>
    <script> showNotify("<%= flash[:notice] %>","success") </script>
    <% end %>
    <% if flash[:error] %>
    <script> showNotify("<%= flash[:error] %>","error") </script>
    <% end %>
    <div id="page-wrapper">

      <div class="row">
        <div class="col-lg-12">
          <%= yield %>
        </div>
      </div><!-- /.row -->

    </div><!-- /#page-wrapper -->

  </div><!-- /#wrapper -->



</body>
</html>


