<!DOCTYPE html>
<html>
<head>
  <title>Agrosocial</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="shortcut icon" href="">
  <!--Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>
	<!--
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	-->

    <%= render 'layouts/header' %>

     <!-- Content row -->
   <div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-left">
        <ul class="sidebar-nav">
           <li><%= link_to "<i class='fa fa-anchor '></i> ADS".html_safe  ,  ads_path %></li>
              <li><%= link_to "<i class='fa  fa-plus '></i> New Ad".html_safe  ,  new_ad_path %></li>
              <li><%= link_to '<i class="fa fa-user "></i> Users'.html_safe  ,  users_path %></li>
              <li>
                 <% if user_signed_in? %>
                    <%= "Tas Bom " + current_user.name + " ?" %>
                  <% else %>

                    <%= link_to "<i class='fa fa-spinner '></i> Login".html_safe  ,  new_user_session_path %>
                  <% end %>

                
              </li>
              <li>Teste</li>
        </ul>
      </div>
      
   <!-- right content box -->

   <div id="page-content-wrapper">
        <div class="content-header">
          <h1>
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="fa fa-reorder"></i></a>
            AgroSocial
          </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
              <%= yield %>
          </div>
        </div>
      </div>
      
</div>

    
	  <%= render 'layouts/footer' %>
	
     <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
</body>
</html>
