<!DOCTYPE html>
<html>
<head>
  <title>Agrosocial</title>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application","user" "data-turbolinks-track" => true %>  <!--Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>

</head>
<body style="background-color:#edeff0">

  <div id="header">
      <%= render "layouts/header"%>
  </div>
     <!-- Content row -->  
     <div id="wrapper">
         <div id="page-content-wrapper">
            <!-- Keep all page content within the page-content inset div! -->
            
            <div class="page-content inset">
              <div class="row">
                <div class="col-md-2 col-lg-2 col-sm-4 col-sx-3" style="padding-right:0px">
                  <%= render "layouts/sidebar_left" %>
                </div>
                <div class="col-md-7 col-lg-7 col-sm-8 col-sx-9" style="padding-right:0px;margin-bottom:15px">
                  <%= yield %>
                </div>

                <div class="col-sm-1" style="padding-right:0px;padding-left:0px"></div>
                <div class="col-md-3 col-lg-3 col-sm-11 col-sx-12" style="padding-right:15px;padding-left:0px">
                  <% if academy? %>
                    <%= render "layouts/sidebar_right_academy" %>
                  <%end %>
                  <%= render "layouts/sidebar_right_featured" %>
                  <%= render "layouts/sidebar_right_ad" %>
                </div>
              </div>
            </div>
          </div>
    </div>


         <%= render 'layouts/footer' %>
        
  <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
  </script>
</body>
</html>
