<!DOCTYPE html>
<html>
<head>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <title>Agrosocial</title>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application","user" %>  <!--Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
  
  <%= content_for?(:head) ? yield(:head) : '' %>
  
</head>
<body style="background-color:#edeff0">
  
<!--FACEBOOK SDK START -->
<div id="fb-root"></div>
<script>
   // Load the SDK asynchronously
   (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/pt_PT/all.js#xfbml=1&appId=547514635336381";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!--FACEBOOK SDK END -->
<!--TWITTER SDK START -->
<script>
   !function(d,s,id){
     var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
     if(!d.getElementById(id)){
       js=d.createElement(s);
       js.id=id;
       js.src=p+'://platform.twitter.com/widgets.js';
       fjs.parentNode.insertBefore(js,fjs);
     }
   }(document, 'script', 'twitter-wjs');
</script>
<!--TWITTER SDK END -->  

  <div id="header">
      <%= render "layouts/header"%>
  </div>
     <!-- Content row -->  
     <div id="wrapper">
         <div id="page-content-wrapper">
            <!-- Keep all page content within the page-content inset div! -->
            
            <div class="page-content inset">
              <div class="row">
                <div class="col-md-2 col-lg-2 col-sm-4 col-sx-3" style="padding-right:0px">
                  <%= render "layouts/sidebar_left" %>
                </div>
                <div class="col-md-7 col-lg-7 col-sm-8 col-sx-9" style="padding-right:0px;margin-bottom:15px">
                  <%= yield %>
                </div>

                <div class="col-sm-1" style="padding-right:0px;padding-left:0px"></div>
                <div class="col-md-3 col-lg-3 col-sm-11 col-sx-12" style="padding-right:15px;padding-left:0px">
                  <% if academy? %>
                    <%= render "layouts/sidebar_right_academy" %>
                  <%end %>
                  <%= render "layouts/sidebar_right_featured" %>
                  <%= render "layouts/sidebar_right_ad" %>
                </div>
              </div>
            </div>
          </div>
    </div>


         
        
  <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
  </script>

  <%= render 'layouts/footer' %>
</body>





</html>
