<!DOCTYPE html>
<html>
<head>
  <title>Agrosocial</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="shortcut icon" href="">
  <!--Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body id="login_body">
	<!--
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	-->

    

     <!-- Content row -->

      
      <!-- Sidebar -->
      
      
   <!-- right content box -->

   
        
        <!-- Keep all page content within the page-content inset div! -->
        
          <div class="row_login_form">
              <%= yield %>
          </div>
        
</body>
</html>
