<!DOCTYPE html>
<html>
<head>
  <title>Agrosocial</title>

  <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>

  <%= stylesheet_link_tag "bootstrap","sessions","data-turbolinks-track" => true %>
  <%= javascript_include_tag  "jquery","jquery_ujs","jquery.fancybox","validations","lib/jquery.validate.min","bootstrap-datepicker","turbolinks","session","data-turbolinks-track" => true %>

  <link rel="shortcut icon" href="">
  <!--Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>

<body>
     
     <%= render "devise/sessions/header"%>

  <!-- Keep all page content within the page-content inset div! -->
  <div id="login_body"  data-slide="1" class="bgParallax slide teste" data-speed="15">

      <div class="row_login_form">

        <div class="col-md-6 login-col-slogan">

              <h1 class="text-center login-title"> AGROSOCIAL </h1>
              <h4 class= " text-center login-slogan">A SEMENTE DO SEU NEGÓCIO</h4>
              
        </div>
        <%= yield =%>
      </div>
     
  </div>



  

</body>
</html>